In [1]:
# No warnings
import warnings
warnings.filterwarnings('ignore') # Filter out warnings

# data analysis and wrangling
import pandas as pd
import numpy as np

# machine learning
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv('logisticStepData.csv')

#index_col='studyID'

In [3]:
data.head()

   studyID Group  Age  Gender    BMI  Weight_loss
0     2001  Blue   28       0  36.24       0.1170
1     2002   Red   38       1  35.71       0.0225
2     2003  Blue   26       1  42.80      -0.0080
3     2004   Red   60       0  26.72       0.0942
4     2006   Red   48       1  43.89      -0.0017

In [4]:
data.describe()

           studyID        Age    Gender        BMI  Weight_loss
count    57.000000  57.000000  57.00000  57.000000    57.000000
mean   2043.596491  43.157895   0.54386  29.453509     0.025940
std      25.247249  12.387767   0.50250   4.922317     0.100527
min    2001.000000  25.000000   0.00000  17.710000    -0.589600
25%    2024.000000  33.000000   0.00000  26.630000     0.012400
50%    2044.000000  42.000000   1.00000  28.520000     0.036100
75%    2066.000000  52.000000   1.00000  31.410000     0.059100
max    2085.000000  78.000000   1.00000  43.890000     0.153600

In [5]:
mapping = {'Blue': 0, 'Red': 1}

df=data.replace({'Group': mapping})
df.head()

   studyID  Group  Age  Gender    BMI  Weight_loss
0     2001      0   28       0  36.24       0.1170
1     2002      1   38       1  35.71       0.0225
2     2003      0   26       1  42.80      -0.0080
3     2004      1   60       0  26.72       0.0942
4     2006      1   48       1  43.89      -0.0017

In [ ]:
# Age_band=[]
# for a in df['Age']:
#     if a>=25 and a <35:
#         Age_band.append(0)
#     elif a>=35 and a <45:
#         Age_band.append(1)
#     elif a>=45 and a <55:
#         Age_band.append(2)
#     elif a>=55 and a <65:
#         Age_band.append(3)
#     elif a>=65:
#         Age_band.append(4)
        
# df['Age_band']=Age_band
# df=df.drop('Age',axis=1)
 
# df.head()

In [ ]:
# BMI_band=[]
# for b in df['BMI']:
#     if b>=10 and b <20:
#         BMI_band.append(0)
#     elif b>=20 and b <30:
#         BMI_band.append(1)
#     elif b>=30 and b <40:
#         BMI_band.append(2)
#     elif b>=30:
#         BMI_band.append(3)
        
# df['BMI_band']=BMI_band
# df=df.drop('BMI',axis=1)
 
# df.head()

In [6]:
Weight_loss_band=[]
for w in df['Weight_loss']:
    if w <0.05:
        Weight_loss_band.append(0)
    elif w>=0.05:
        Weight_loss_band.append(1)
        
df['Weight_loss_band']=Weight_loss_band
df=df.drop('Weight_loss',axis=1)

In [7]:
df.head()

   studyID  Group  Age  Gender    BMI  Weight_loss_band
0     2001      0   28       0  36.24                 1
1     2002      1   38       1  35.71                 0
2     2003      0   26       1  42.80                 0
3     2004      1   60       0  26.72                 1
4     2006      1   48       1  43.89                 0

In [8]:
#random1
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.2, random_state=100)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7333333333333333
logreg test accuracy=  0.5833333333333334

In [9]:
#random2
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.2, random_state=122)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.6666666666666666
logreg test accuracy=  0.6666666666666666

In [10]:
#random3
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.2, random_state=200)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.8222222222222222
logreg test accuracy=  0.5833333333333334

In [11]:
#random4
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.2, random_state=300)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7333333333333333
logreg test accuracy=  0.6666666666666666

In [12]:
#random5
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.2, random_state=368)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7333333333333333
logreg test accuracy=  0.6666666666666666

In [13]:
#random6
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.2, random_state=400)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7555555555555555
logreg test accuracy=  0.5833333333333334

In [14]:
#random7
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.2, random_state=500)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7777777777777778
logreg test accuracy=  0.5

In [15]:
#random8
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.2, random_state=600)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7111111111111111
logreg test accuracy=  0.75

In [16]:
#random9
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.2, random_state=700)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7555555555555555
logreg test accuracy=  0.6666666666666666

In [17]:
#random10
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.2, random_state=22)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.6666666666666666
logreg test accuracy=  0.5833333333333334

In [18]:
stepcounts = pd.read_csv('step_count_all_includenewstudyID.csv')

In [19]:
stepcounts.head()

   studyID   Steps      Date  Weight    BMI
0     2001  2931.0  11/17/14  253.40  36.24
1     2001  2264.0  11/18/14  253.55  36.26
2     2001  5347.0  11/19/14  253.71  36.28
3     2001  5924.0  11/20/14  253.87  36.30
4     2001  6961.0  11/21/14  254.02  36.33

In [20]:
step_df=stepcounts.loc[:,'studyID':'Steps']
step_df.head()

   studyID   Steps
0     2001  2931.0
1     2001  2264.0
2     2001  5347.0
3     2001  5924.0
4     2001  6961.0

In [21]:
step_df.loc[step_df['Steps'] == 0,'Steps'] = np.nan

In [22]:
step_df=step_df.dropna()

In [23]:
len(step_df)

4760

In [24]:
counts_df=step_df.groupby('studyID', as_index=False)['Steps'].mean()
counts_df.head()

   studyID         Steps
0     2001  10723.455556
1     2002   4654.916667
2     2003   5675.133333
3     2004   9855.843373
4     2006   7595.388889

In [25]:
new_df= pd.concat([df, counts_df['Steps']], axis=1, sort=False)

In [26]:
new_df.head()

   studyID  Group  Age  Gender    BMI  Weight_loss_band         Steps
0     2001      0   28       0  36.24                 1  10723.455556
1     2002      1   38       1  35.71                 0   4654.916667
2     2003      0   26       1  42.80                 0   5675.133333
3     2004      1   60       0  26.72                 1   9855.843373
4     2006      1   48       1  43.89                 0   7595.388889

In [27]:
new_df.describe()

,studyID,Group,Age,Gender,BMI,Weight_loss_band,Steps
count,57.000000,57.000000,57.000000,57.00000,57.000000,57.000000,57.000000
mean,2043.596491,0.526316,43.157895,0.54386,29.453509,0.333333,9511.987926
std,25.247249,0.503745,12.387767,0.50250,4.922317,0.475595,2921.206191
min,2001.000000,0.000000,25.000000,0.00000,17.710000,0.000000,3087.068182
25%,2024.000000,0.000000,33.000000,0.00000,26.630000,0.000000,7802.383721
50%,2044.000000,1.000000,42.000000,1.00000,28.520000,0.000000,9783.255556
75%,2066.000000,1.000000,52.000000,1.00000,31.410000,1.000000,11297.533333
max,2085.000000,1.000000,78.000000,1.00000,43.890000,1.000000,18288.966667

In [28]:
# Steps_band=[]
# for s in new_df['Steps']:
#     if s >=3000 and s <6500:
#         Steps_band.append(0)
#     elif s>=6500 and s <10000:
#         Steps_band.append(1)
#     elif s>=10000 and s <13500:
#         Steps_band.append(2)
#     elif s>=13500 and s <17000:
#         Steps_band.append(3)
#     elif s>=17000:
#         Steps_band.append(4)    
        
# new_df['Steps_band']=Steps_band
# new_df=new_df.drop('Steps',axis=1)
# new_df.head()

In [29]:
#random11
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(new_df, test_size=0.2, random_state=100)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7555555555555555
logreg test accuracy=  0.75

In [30]:
#random12
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(new_df, test_size=0.2, random_state=122)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7333333333333333
logreg test accuracy=  0.75

In [31]:
#random13
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(new_df, test_size=0.2, random_state=200)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7777777777777778
logreg test accuracy=  0.5833333333333334

In [32]:
#random14
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(new_df, test_size=0.2, random_state=300)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7777777777777778
logreg test accuracy=  0.5

In [33]:
#random15
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(new_df, test_size=0.2, random_state=368)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.8444444444444444
logreg test accuracy=  0.5833333333333334

In [34]:
#random16
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(new_df, test_size=0.2, random_state=400)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7777777777777778
logreg test accuracy=  0.6666666666666666

In [35]:
#random17
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(new_df, test_size=0.2, random_state=500)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7777777777777778
logreg test accuracy=  0.5833333333333334

In [36]:
#random18
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(new_df, test_size=0.2, random_state=600)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.8
logreg test accuracy=  0.5833333333333334

In [37]:
#random19
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(new_df, test_size=0.2, random_state=700)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7777777777777778
logreg test accuracy=  0.6666666666666666

In [38]:
#random20
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(new_df, test_size=0.2, random_state=22)
X_train = train_df.drop('Weight_loss_band', axis=1)
Y_train = train_df['Weight_loss_band']  
X_test  = test_df.drop('Weight_loss_band', axis=1)
Y_test = test_df['Weight_loss_band']  
logreg = LogisticRegression()  
logreg.fit(X_train, Y_train)
logreg_train_acc = logreg.score(X_train, Y_train)
logreg_test_acc = logreg.score(X_test, Y_test)
print ('logreg training acuracy= ',logreg_train_acc)
print('logreg test accuracy= ',logreg_test_acc)

logreg training acuracy=  0.7333333333333333
logreg test accuracy=  0.8333333333333334

In [39]:
new_df.to_excel("demo_steps.xlsx")