In [1]:
import os

directory_list = []
for root, dirs, files in os.walk("/Users/ibergeland/Box Sync/Step-Omics/step count data files/", topdown = False):
    for name in dirs:
        directory_list.append(os.path.join(root, name))

import glob
import pandas as pd

step_count_activity = pd.DataFrame()
filenames = pd.DataFrame()
str = '/*.xls'
paths = [x + str for x in directory_list]
paths.sort()

In [2]:
for path in paths:
    filenames = glob.glob(path)
    for filename in filenames:
        df = pd.read_excel(filename, sheet_name='Activities')
        df['studyID']=path[60:64]
        step_count_activity = step_count_activity.append(df)
#step_count_activity = step_count_activity.set_index('studyID')

step_count_activity

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,studyID
0,2015-07-23,"2,902","9,865",4.55,0.0,"1,234",194.0,2.0,10,"1,170",2001
1,2015-07-24,"2,637","6,695",3.12,0.0,"1,267",164.0,7.0,2,875,2001
2,2015-07-25,"2,508","5,311",2.44,0.0,"1,300",140.0,0.0,0,696,2001
3,2015-07-26,"2,222","2,176",1.00,0.0,"1,368",72.0,0.0,0,327,2001
4,2015-07-27,"3,491","16,141",10.72,0.0,"1,265",75.0,11.0,89,"1,721",2001
5,2015-07-28,"3,654","17,842",12.25,0.0,"1,166",184.0,21.0,69,"2,038",2001
6,2015-07-29,"2,472","4,471",2.07,0.0,"1,299",141.0,0.0,0,648,2001
7,2015-07-30,"2,373","3,482",1.63,0.0,"1,334",106.0,0.0,0,500,2001
8,2015-07-31,"4,127","23,967",11.01,0.0,924,400.0,90.0,26,"2,829",2001
9,2015-08-01,"2,096","1,224",0.56,0.0,"1,416",13.0,9.0,2,134,2001
10,2015-08-02,"2,489","4,832",2.31,0.0,"1,327",99.0,3.0,11,625,2001
11,2015-08-03,"1,994",0,0.00,0.0,"1,440",0.0,0.0,0,0,2001
12,2015-08-04,"2,263","2,713",1.25,0.0,"1,363",70.0,7.0,0,373,2001
13,2015-08-05,"2,981","16,479",9.11,0.0,"1,272",109.0,8.0,51,"1,221",2001
14,2015-08-06,"2,157","1,507",0.69,0.0,"1,388",52.0,0.0,0,233,2001
15,2015-08-07,"2,821","7,928",3.64,0.0,"1,213",205.0,8.0,14,"1,117",2001
16,2015-08-08,"1,997",7,0.00,0.0,"1,439",1.0,0.0,0,4,2001
17,2015-08-09,"2,425","3,603",1.66,0.0,"1,289",142.0,8.0,1,640,2001
18,2015-08-10,"2,138","1,188",0.55,0.0,"1,390",50.0,0.0,0,211,2001
19,2015-08-11,"3,665","17,616",11.97,0.0,"1,127",219.0,27.0,67,"2,050",2001
20,2015-08-12,"2,369","3,124",1.49,0.0,"1,334",94.0,11.0,1,481,2001
21,2015-08-13,"2,528","4,726",2.19,0.0,"1,306",108.0,12.0,14,665,2001
22,2015-08-14,"2,456","3,743",1.80,0.0,"1,374",39.0,8.0,19,427,2001
23,2015-08-15,"1,994",0,0.00,0.0,"1,440",0.0,0.0,0,0,2001
24,2015-08-16,"2,585","6,543",3.03,0.0,"1,297",117.0,17.0,9,781,2001
25,2015-08-17,"2,182","1,611",0.74,0.0,"1,386",54.0,0.0,0,247,2001
26,2015-08-18,"1,997",18,0.01,0.0,"1,439",1.0,0.0,0,4,2001
27,2015-08-19,"2,118","1,067",0.49,0.0,"1,397",43.0,0.0,0,183,2001
28,2015-08-20,"2,966","11,010",9.19,0.0,"1,292",73.0,22.0,53,"1,158",2001
29,2015-08-21,"2,949","10,661",18.72,0.0,"1,334",35.0,5.0,66,"1,104",2001
...,...,...,...,...,...,...,...,...,...,...,...
1,2016-01-09,"2,064","7,996",3.64,0.0,"1,208",203.0,8.0,21,837,2085
2,2016-01-10,"3,661","32,943",16.63,0.0,"1,023",222.0,29.0,166,"2,622",2085
3,2016-01-11,"2,025","8,127",3.61,0.0,"1,236",162.0,8.0,34,792,2085
4,2016-01-12,"2,189","10,401",4.78,0.0,"1,206",196.0,5.0,33,962,2085
5,2016-01-13,"2,330","13,278",5.80,0.0,"1,162",207.0,30.0,41,"1,155",2085
6,2016-01-14,"2,164","9,804",4.34,0.0,"1,154",261.0,15.0,10,"1,008",2085
7,2016-01-15,"1,824","4,820",2.06,0.0,"1,283",148.0,4.0,5,525,2085
8,2016-01-16,"1,839","4,397",1.87,0.0,"1,243",197.0,0.0,0,592,2085
9,2016-01-17,"2,064","7,882",3.36,0.0,"1,172",248.0,10.0,10,893,2085
10,2016-01-18,"2,480","14,420",6.80,0.0,"1,138",222.0,17.0,63,"1,312",2085
11,2016-01-19,"2,176","9,165",4.16,0.0,"1,174",246.0,9.0,11,952,2085
12,2016-01-20,"2,092","9,173",4.31,0.0,"1,253",154.0,5.0,28,822,2085
13,2016-01-21,"2,209","10,390",4.86,0.0,"1,206",185.0,13.0,36,970,2085
14,2016-01-22,"2,474","14,497",6.77,0.0,"1,147",210.0,21.0,62,"1,292",2085
15,2016-01-23,"2,161","8,552",3.64,0.0,"1,135",282.0,11.0,12,994,2085
16,2016-01-24,"2,239","10,988",4.91,0.0,"1,184",193.0,20.0,43,"1,030",2085
17,2016-01-25,"2,786","18,149",8.99,0.0,"1,107",230.0,20.0,83,"1,611",2085
18,2016-01-26,"2,132","9,556",4.52,0.0,"1,214",179.0,11.0,36,920,2085
19,2016-01-27,"2,600","17,229",8.02,0.0,"1,126",222.0,26.0,66,"1,461",2085
20,2016-01-28,"2,219","10,068",4.73,0.0,"1,163",237.0,7.0,33,"1,047",2085
21,2016-01-29,"1,815","4,372",1.86,0.0,"1,269",162.0,8.0,1,539,2085
22,2016-01-30,"2,666","18,662",8.11,0.0,"1,032",319.0,49.0,40,"1,636",2085
23,2016-01-31,"2,096","9,148",4.06,0.0,"1,230",147.0,25.0,38,854,2085
24,2016-02-01,"2,267","11,212",5.30,0.0,"1,164",238.0,6.0,32,"1,102",2085
25,2016-02-02,"2,552","15,332",7.20,0.0,"1,086",307.0,8.0,39,"1,465",2085
26,2016-02-03,"2,747","19,767",9.08,0.0,"1,097",235.0,20.0,88,"1,643",2085
27,2016-02-04,"2,469","14,939",6.43,0.0,"1,098",291.0,7.0,44,"1,367",2085
28,2016-02-05,"2,466","14,995",6.96,0.0,"1,178",192.0,12.0,58,"1,243",2085
29,2016-02-06,"2,257","9,854",4.19,0.0,"1,126",292.0,13.0,9,"1,079",2085
30,2016-02-07,"1,849","3,932",1.67,0.0,"1,240",200.0,0.0,0,585,2085

In [3]:
cols = step_count_activity.columns.tolist()
cols = cols[-1:] + cols[:-1]
step_count_activity = step_count_activity[cols]
step_count_activity

,studyID,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,2001,2015-07-23,"2,902","9,865",4.55,0.0,"1,234",194.0,2.0,10,"1,170"
1,2001,2015-07-24,"2,637","6,695",3.12,0.0,"1,267",164.0,7.0,2,875
2,2001,2015-07-25,"2,508","5,311",2.44,0.0,"1,300",140.0,0.0,0,696
3,2001,2015-07-26,"2,222","2,176",1.00,0.0,"1,368",72.0,0.0,0,327
4,2001,2015-07-27,"3,491","16,141",10.72,0.0,"1,265",75.0,11.0,89,"1,721"
5,2001,2015-07-28,"3,654","17,842",12.25,0.0,"1,166",184.0,21.0,69,"2,038"
6,2001,2015-07-29,"2,472","4,471",2.07,0.0,"1,299",141.0,0.0,0,648
7,2001,2015-07-30,"2,373","3,482",1.63,0.0,"1,334",106.0,0.0,0,500
8,2001,2015-07-31,"4,127","23,967",11.01,0.0,924,400.0,90.0,26,"2,829"
9,2001,2015-08-01,"2,096","1,224",0.56,0.0,"1,416",13.0,9.0,2,134
10,2001,2015-08-02,"2,489","4,832",2.31,0.0,"1,327",99.0,3.0,11,625
11,2001,2015-08-03,"1,994",0,0.00,0.0,"1,440",0.0,0.0,0,0
12,2001,2015-08-04,"2,263","2,713",1.25,0.0,"1,363",70.0,7.0,0,373
13,2001,2015-08-05,"2,981","16,479",9.11,0.0,"1,272",109.0,8.0,51,"1,221"
14,2001,2015-08-06,"2,157","1,507",0.69,0.0,"1,388",52.0,0.0,0,233
15,2001,2015-08-07,"2,821","7,928",3.64,0.0,"1,213",205.0,8.0,14,"1,117"
16,2001,2015-08-08,"1,997",7,0.00,0.0,"1,439",1.0,0.0,0,4
17,2001,2015-08-09,"2,425","3,603",1.66,0.0,"1,289",142.0,8.0,1,640
18,2001,2015-08-10,"2,138","1,188",0.55,0.0,"1,390",50.0,0.0,0,211
19,2001,2015-08-11,"3,665","17,616",11.97,0.0,"1,127",219.0,27.0,67,"2,050"
20,2001,2015-08-12,"2,369","3,124",1.49,0.0,"1,334",94.0,11.0,1,481
21,2001,2015-08-13,"2,528","4,726",2.19,0.0,"1,306",108.0,12.0,14,665
22,2001,2015-08-14,"2,456","3,743",1.80,0.0,"1,374",39.0,8.0,19,427
23,2001,2015-08-15,"1,994",0,0.00,0.0,"1,440",0.0,0.0,0,0
24,2001,2015-08-16,"2,585","6,543",3.03,0.0,"1,297",117.0,17.0,9,781
25,2001,2015-08-17,"2,182","1,611",0.74,0.0,"1,386",54.0,0.0,0,247
26,2001,2015-08-18,"1,997",18,0.01,0.0,"1,439",1.0,0.0,0,4
27,2001,2015-08-19,"2,118","1,067",0.49,0.0,"1,397",43.0,0.0,0,183
28,2001,2015-08-20,"2,966","11,010",9.19,0.0,"1,292",73.0,22.0,53,"1,158"
29,2001,2015-08-21,"2,949","10,661",18.72,0.0,"1,334",35.0,5.0,66,"1,104"
...,...,...,...,...,...,...,...,...,...,...,...
1,2085,2016-01-09,"2,064","7,996",3.64,0.0,"1,208",203.0,8.0,21,837
2,2085,2016-01-10,"3,661","32,943",16.63,0.0,"1,023",222.0,29.0,166,"2,622"
3,2085,2016-01-11,"2,025","8,127",3.61,0.0,"1,236",162.0,8.0,34,792
4,2085,2016-01-12,"2,189","10,401",4.78,0.0,"1,206",196.0,5.0,33,962
5,2085,2016-01-13,"2,330","13,278",5.80,0.0,"1,162",207.0,30.0,41,"1,155"
6,2085,2016-01-14,"2,164","9,804",4.34,0.0,"1,154",261.0,15.0,10,"1,008"
7,2085,2016-01-15,"1,824","4,820",2.06,0.0,"1,283",148.0,4.0,5,525
8,2085,2016-01-16,"1,839","4,397",1.87,0.0,"1,243",197.0,0.0,0,592
9,2085,2016-01-17,"2,064","7,882",3.36,0.0,"1,172",248.0,10.0,10,893
10,2085,2016-01-18,"2,480","14,420",6.80,0.0,"1,138",222.0,17.0,63,"1,312"
11,2085,2016-01-19,"2,176","9,165",4.16,0.0,"1,174",246.0,9.0,11,952
12,2085,2016-01-20,"2,092","9,173",4.31,0.0,"1,253",154.0,5.0,28,822
13,2085,2016-01-21,"2,209","10,390",4.86,0.0,"1,206",185.0,13.0,36,970
14,2085,2016-01-22,"2,474","14,497",6.77,0.0,"1,147",210.0,21.0,62,"1,292"
15,2085,2016-01-23,"2,161","8,552",3.64,0.0,"1,135",282.0,11.0,12,994
16,2085,2016-01-24,"2,239","10,988",4.91,0.0,"1,184",193.0,20.0,43,"1,030"
17,2085,2016-01-25,"2,786","18,149",8.99,0.0,"1,107",230.0,20.0,83,"1,611"
18,2085,2016-01-26,"2,132","9,556",4.52,0.0,"1,214",179.0,11.0,36,920
19,2085,2016-01-27,"2,600","17,229",8.02,0.0,"1,126",222.0,26.0,66,"1,461"
20,2085,2016-01-28,"2,219","10,068",4.73,0.0,"1,163",237.0,7.0,33,"1,047"
21,2085,2016-01-29,"1,815","4,372",1.86,0.0,"1,269",162.0,8.0,1,539
22,2085,2016-01-30,"2,666","18,662",8.11,0.0,"1,032",319.0,49.0,40,"1,636"
23,2085,2016-01-31,"2,096","9,148",4.06,0.0,"1,230",147.0,25.0,38,854
24,2085,2016-02-01,"2,267","11,212",5.30,0.0,"1,164",238.0,6.0,32,"1,102"
25,2085,2016-02-02,"2,552","15,332",7.20,0.0,"1,086",307.0,8.0,39,"1,465"
26,2085,2016-02-03,"2,747","19,767",9.08,0.0,"1,097",235.0,20.0,88,"1,643"
27,2085,2016-02-04,"2,469","14,939",6.43,0.0,"1,098",291.0,7.0,44,"1,367"
28,2085,2016-02-05,"2,466","14,995",6.96,0.0,"1,178",192.0,12.0,58,"1,243"
29,2085,2016-02-06,"2,257","9,854",4.19,0.0,"1,126",292.0,13.0,9,"1,079"
30,2085,2016-02-07,"1,849","3,932",1.67,0.0,"1,240",200.0,0.0,0,585

In [4]:
step_count_body=pd.DataFrame()
filenames=pd.DataFrame()
str='/*.xls'
paths=[x+str for x in directory_list]
paths.sort()
for path in paths:
    filenames = glob.glob(path)
    for filename in filenames:
        df=pd.read_excel(filename, sheet_name='Body')
        df['studyID']=path[60:64]
        step_count_body=step_count_body.append(df)
#step_count_body=step_count_body.set_index('studyID')
step_count_body

          Date  Weight    BMI  Fat studyID
0   2015-07-23  225.00  32.18  0.0    2001
1   2015-07-24  225.00  32.18  0.0    2001
2   2015-07-25  225.00  32.18  0.0    2001
3   2015-07-26  225.00  32.18  0.0    2001
4   2015-07-27  225.00  32.18  0.0    2001
5   2015-07-28  225.00  32.18  0.0    2001
6   2015-07-29  225.00  32.18  0.0    2001
7   2015-07-30  225.00  32.18  0.0    2001
8   2015-07-31  225.00  32.18  0.0    2001
9   2015-08-01  225.00  32.18  0.0    2001
10  2015-08-02  225.00  32.18  0.0    2001
11  2015-08-03  225.00  32.18  0.0    2001
12  2015-08-04  225.00  32.18  0.0    2001
13  2015-08-05  225.00  32.18  0.0    2001
14  2015-08-06  225.00  32.18  0.0    2001
15  2015-08-07  225.00  32.18  0.0    2001
16  2015-08-08  225.00  32.18  0.0    2001
17  2015-08-09  225.00  32.18  0.0    2001
18  2015-08-10  225.00  32.18  0.0    2001
19  2015-08-11  225.00  32.18  0.0    2001
20  2015-08-12  225.00  32.18  0.0    2001
21  2015-08-13  225.00  32.18  0.0    2001
22  2015-08-14  225.00  32.18  0.0    2001
23  2015-08-15  225.00  32.18  0.0    2001
24  2015-08-16  225.00  32.18  0.0    2001
25  2015-08-17  225.00  32.18  0.0    2001
26  2015-08-18  225.00  32.18  0.0    2001
27  2015-08-19  225.00  32.18  0.0    2001
28  2015-08-20  225.00  32.18  0.0    2001
29  2015-08-21  225.00  32.18  0.0    2001
..         ...     ...    ...  ...     ...
1   2016-01-09  150.58  25.06  0.0    2085
2   2016-01-10  150.87  25.11  0.0    2085
3   2016-01-11  151.16  25.15  0.0    2085
4   2016-01-12  151.45  25.20  0.0    2085
5   2016-01-13  151.74  25.25  0.0    2085
6   2016-01-14  152.03  25.30  0.0    2085
7   2016-01-15  152.32  25.35  0.0    2085
8   2016-01-16  152.61  25.40  0.0    2085
9   2016-01-17  152.91  25.45  0.0    2085
10  2016-01-18  153.20  25.49  0.0    2085
11  2016-01-19  153.49  25.54  0.0    2085
12  2016-01-20  153.78  25.59  0.0    2085
13  2016-01-21  154.07  25.64  0.0    2085
14  2016-01-22  154.36  25.69  0.0    2085
15  2016-01-23  154.65  25.74  0.0    2085
16  2016-01-24  154.94  25.78  0.0    2085
17  2016-01-25  155.23  25.83  0.0    2085
18  2016-01-26  155.52  25.88  0.0    2085
19  2016-01-27  155.82  25.93  0.0    2085
20  2016-01-28  156.11  25.98  0.0    2085
21  2016-01-29  156.40  26.03  0.0    2085
22  2016-01-30  156.69  26.07  0.0    2085
23  2016-01-31  157.00  26.13  0.0    2085
24  2016-02-01  157.10  26.14  0.0    2085
25  2016-02-02  157.20  26.16  0.0    2085
26  2016-02-03  157.29  26.18  0.0    2085
27  2016-02-04  157.39  26.19  0.0    2085
28  2016-02-05  157.49  26.21  0.0    2085
29  2016-02-06  157.59  26.23  0.0    2085
30  2016-02-07  157.69  26.24  0.0    2085

[25171 rows x 5 columns]

In [5]:
cols = step_count_body.columns.tolist()
cols = cols[-1:] + cols[:-1]
step_count_body = step_count_body[cols]
step_count_body

   studyID        Date  Weight    BMI  Fat
0     2001  2015-07-23  225.00  32.18  0.0
1     2001  2015-07-24  225.00  32.18  0.0
2     2001  2015-07-25  225.00  32.18  0.0
3     2001  2015-07-26  225.00  32.18  0.0
4     2001  2015-07-27  225.00  32.18  0.0
5     2001  2015-07-28  225.00  32.18  0.0
6     2001  2015-07-29  225.00  32.18  0.0
7     2001  2015-07-30  225.00  32.18  0.0
8     2001  2015-07-31  225.00  32.18  0.0
9     2001  2015-08-01  225.00  32.18  0.0
10    2001  2015-08-02  225.00  32.18  0.0
11    2001  2015-08-03  225.00  32.18  0.0
12    2001  2015-08-04  225.00  32.18  0.0
13    2001  2015-08-05  225.00  32.18  0.0
14    2001  2015-08-06  225.00  32.18  0.0
15    2001  2015-08-07  225.00  32.18  0.0
16    2001  2015-08-08  225.00  32.18  0.0
17    2001  2015-08-09  225.00  32.18  0.0
18    2001  2015-08-10  225.00  32.18  0.0
19    2001  2015-08-11  225.00  32.18  0.0
20    2001  2015-08-12  225.00  32.18  0.0
21    2001  2015-08-13  225.00  32.18  0.0
22    2001  2015-08-14  225.00  32.18  0.0
23    2001  2015-08-15  225.00  32.18  0.0
24    2001  2015-08-16  225.00  32.18  0.0
25    2001  2015-08-17  225.00  32.18  0.0
26    2001  2015-08-18  225.00  32.18  0.0
27    2001  2015-08-19  225.00  32.18  0.0
28    2001  2015-08-20  225.00  32.18  0.0
29    2001  2015-08-21  225.00  32.18  0.0
..     ...         ...     ...    ...  ...
1     2085  2016-01-09  150.58  25.06  0.0
2     2085  2016-01-10  150.87  25.11  0.0
3     2085  2016-01-11  151.16  25.15  0.0
4     2085  2016-01-12  151.45  25.20  0.0
5     2085  2016-01-13  151.74  25.25  0.0
6     2085  2016-01-14  152.03  25.30  0.0
7     2085  2016-01-15  152.32  25.35  0.0
8     2085  2016-01-16  152.61  25.40  0.0
9     2085  2016-01-17  152.91  25.45  0.0
10    2085  2016-01-18  153.20  25.49  0.0
11    2085  2016-01-19  153.49  25.54  0.0
12    2085  2016-01-20  153.78  25.59  0.0
13    2085  2016-01-21  154.07  25.64  0.0
14    2085  2016-01-22  154.36  25.69  0.0
15    2085  2016-01-23  154.65  25.74  0.0
16    2085  2016-01-24  154.94  25.78  0.0
17    2085  2016-01-25  155.23  25.83  0.0
18    2085  2016-01-26  155.52  25.88  0.0
19    2085  2016-01-27  155.82  25.93  0.0
20    2085  2016-01-28  156.11  25.98  0.0
21    2085  2016-01-29  156.40  26.03  0.0
22    2085  2016-01-30  156.69  26.07  0.0
23    2085  2016-01-31  157.00  26.13  0.0
24    2085  2016-02-01  157.10  26.14  0.0
25    2085  2016-02-02  157.20  26.16  0.0
26    2085  2016-02-03  157.29  26.18  0.0
27    2085  2016-02-04  157.39  26.19  0.0
28    2085  2016-02-05  157.49  26.21  0.0
29    2085  2016-02-06  157.59  26.23  0.0
30    2085  2016-02-07  157.69  26.24  0.0

[25171 rows x 5 columns]

In [6]:
#Imports Gene Expression data (counts file)
counts=pd.read_csv('counts.csv', index_col = 0)
#Transposes rows into columns to make "studyID" as the dataframe index
gene_counts = counts.transpose()
gene_counts['studyID'] = list(counts)
gene_counts_df = gene_counts.set_index("studyID")
gene_counts_df

,N_unmapped,N_multimapping,N_noFeature,N_ambiguous,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,...,ENSG00000198886.2,ENSG00000210176.1,ENSG00000210184.1,ENSG00000210191.1,ENSG00000198786.2,ENSG00000198695.2,ENSG00000210194.1,ENSG00000198727.2,ENSG00000210195.2,ENSG00000210196.2
studyID,,,,,,,,,,,,,,,,,,,,,
2001-01,95042,331030,738005,41938,0,0,0,0,0,0,...,1557,0,4,1,225,249,8,927,0,25
2001-02,68220,334819,867184,45447,0,0,0,0,0,0,...,1538,0,1,3,276,156,7,1153,4,17
2001-03,61019,380826,626817,40987,0,0,0,0,0,0,...,1258,3,0,2,173,83,4,698,1,18
2002-01,70551,364487,808822,37888,0,0,0,0,0,0,...,702,1,1,0,122,68,2,456,2,19
2002-02,46086,212680,492655,26394,0,0,0,0,0,0,...,527,0,0,2,99,44,0,312,0,10
2002-03,76071,348791,993259,39314,0,0,0,0,0,0,...,668,7,5,11,165,27,4,437,2,16
2003-01,70553,587703,877164,52574,0,0,0,0,0,0,...,1300,4,3,10,320,180,3,824,9,24
2003-02,78081,637444,785730,35956,0,0,0,0,0,0,...,1788,5,5,7,338,171,9,1193,1,24
2003-03,62580,259543,490331,31024,0,0,0,0,0,0,...,1528,1,0,3,217,227,16,886,0,22
2004-01,55659,313890,1396183,17858,1,0,0,0,0,0,...,581,0,0,1,67,37,2,327,0,7
2004-02,71781,404364,543252,35739,0,0,0,0,0,0,...,1925,1,4,1,234,118,3,949,0,23
2004-03,83805,496892,705882,40258,0,0,0,0,0,0,...,1751,1,3,1,300,207,12,809,0,18
2006-01,75613,542751,1159741,49532,0,0,0,0,0,0,...,1960,1,2,5,375,182,3,1556,0,24
2006-02,39715,295346,481029,23861,0,0,0,0,0,0,...,838,2,0,2,143,69,0,618,3,11
2006-03,63197,336954,597701,37757,0,0,0,0,0,0,...,1587,0,1,6,247,124,4,1090,5,25
2008-01,84108,441981,686144,30637,0,0,0,0,0,0,...,1864,2,0,1,332,139,10,1167,7,12
2008-02,72236,577276,939594,41738,0,0,0,0,0,0,...,1512,1,0,2,297,139,12,1173,3,13
2008-03,73898,338365,809936,39346,0,0,0,0,0,0,...,1359,4,1,5,253,162,11,978,4,8
2010-01,78893,388619,878301,36883,0,0,0,0,0,0,...,1577,2,1,2,281,109,8,1050,3,12
2010-02,81353,523765,870679,30288,0,0,0,0,0,0,...,1504,0,1,5,275,93,3,1108,9,14
2010-03,34327,158942,357570,17082,0,0,0,0,0,0,...,814,0,1,0,124,74,5,463,2,3
2012-01,85924,407066,906792,47863,0,0,0,0,0,0,...,1391,9,0,0,299,141,3,1133,0,20
2012-02,64502,386682,870457,38537,0,0,0,0,0,0,...,1036,8,4,2,294,76,6,843,9,19
2012-03,51906,323019,707846,34574,0,0,0,0,0,0,...,1449,2,1,11,288,45,0,1121,2,17
2013-01,83739,464837,702861,58137,0,0,0,0,0,0,...,1238,4,4,8,305,289,4,971,6,36
2013-02,60918,304905,712120,20834,0,0,0,0,0,0,...,674,0,11,6,141,75,1,509,8,16
2013-03,85394,461595,740990,44996,0,0,0,0,0,0,...,1640,1,2,9,277,338,9,1200,6,41
2014-01,94358,496988,2433145,32730,0,0,0,0,0,0,...,587,0,2,1,108,171,8,315,0,17
2014-02,47292,284311,633871,24592,0,0,0,0,0,0,...,741,1,3,3,180,238,4,430,0,17
2014-03,91299,533359,1231378,47234,0,0,0,0,0,0,...,1943,0,1,4,254,389,13,1356,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072-01,90840,565725,1858915,31137,0,0,0,0,0,0,...,964,0,0,3,197,154,7,711,1,9
2072-02,78531,466309,918193,41956,0,3,0,0,0,0,...,1243,3,0,1,280,59,2,994,1,21
2072-03,74074,419379,746597,42358,0,0,0,0,0,0,...,1372,3,0,5,245,136,5,1036,5,16
2074-01,64172,490849,533143,28997,0,0,0,0,0,0,...,943,1,0,13,243,181,13,737,6,43
2074-02,74100,543243,909719,34900,0,0,0,0,0,0,...,1211,0,1,10,278,186,7,803,5,39
2074-03,74042,714298,968002,39036,0,0,0,0,0,0,...,936,2,0,7,218,153,14,770,5,27
2075-01,103528,532458,1226229,54597,0,0,0,0,0,0,...,1348,1,3,5,207,111,5,1198,8,37
2075-02,79891,530044,766901,35746,0,1,0,0,0,0,...,786,3,0,2,156,98,7,694,0,27
2075-03,62478,499344,1053978,28457,0,0,0,0,0,0,...,734,2,1,4,101,48,2,579,2,37
2078-01,68380,402466,1235231,36829,0,0,0,0,0,0,...,1181,0,0,2,226,42,1,713,2,3
2078-02,89172,688705,1362687,56178,0,0,0,0,0,0,...,2196,2,3,8,362,155,5,1402,8,45
2078-03,94801,505957,1119125,45878,0,2,0,0,0,0,...,1734,1,2,4,264,110,3,1244,1,24
2080-01,86649,445156,909391,43879,0,0,0,0,0,0,...,2270,7,5,13,456,197,10,1635,5,64
2080-02,53107,327906,669351,25495,0,1,0,0,0,0,...,1022,2,1,6,171,63,4,763,3,34
2080-03,90691,431474,802853,43529,0,0,0,0,0,0,...,2033,2,4,13,372,161,12,1431,3,50
2081-01,93271,497168,1001907,41445,0,0,0,0,0,0,...,1469,0,2,1,342,284,16,958,13,29
2081-02,104412,534761,1440777,46523,0,0,0,0,0,0,...,1674,0,0,2,383,369,13,1108,5,31
2081-03,93117,622165,1378656,44562,0,0,0,0,0,0,...,1922,0,4,12,464,276,10,1182,7,49
2082-01,68664,510817,1188612,48061,0,1,0,0,0,0,...,1198,1,1,1,209,127,9,992,1,13
2082-02,89892,351552,836140,32036,0,0,0,0,0,0,...,625,2,4,5,180,62,3,610,5,21
2082-03,83261,508763,1085729,49726,0,0,0,0,0,0,...,1537,0,0,5,261,76,2,1318,1,6
2083-01,90302,592186,953655,44232,0,0,0,0,0,0,...,1107,0,4,1,230,123,1,924,5,11
2083-02,125048,707741,1416621,41364,0,0,0,0,0,0,...,898,4,1,7,307,73,3,855,2,38
2083-03,68434,409750,664264,34650,0,0,0,0,0,0,...,1254,0,3,1,195,91,1,910,0,18
2084-01,76911,660545,928151,36592,0,0,0,0,0,0,...,1354,1,0,6,153,94,3,912,3,29
2084-02,89960,878795,1338392,50063,0,0,0,0,0,0,...,1821,2,0,2,265,164,4,1269,8,15
2084-03,78068,559799,1059115,40499,0,0,0,0,0,0,...,1588,2,0,4,297,146,1,1119,1,14
2085-01,95025,655607,882235,40354,0,0,0,0,0,0,...,1571,2,3,6,296,127,3,875,15,27
2085-02,71675,739056,963296,42764,0,0,0,0,0,0,...,1058,3,6,11,236,100,4,774,8,25
2085-03,110694,849236,1614960,31324,0,0,0,0,0,0,...,918,3,3,5,191,132,5,676,13,30

In [7]:
anthropometrics=pd.read_csv('F&T anthropometrics.csv')
anthropometrics['CorrectedDate'] =  pd.to_datetime(anthropometrics['CorrectedDate'], format='%d-%b-%y',errors='ignore')
anthropometrics['CorrectedRVDate']=pd.to_datetime(anthropometrics['CorrectedRVDate'], format='%d-%b-%y',errors='ignore')
anthropometrics=anthropometrics.drop(columns=['Date','RVDate','RVNotes'],axis=1)
anthropometrics=anthropometrics.set_index('studyID')
anthropometrics

,CorrectedDate,Randomization,StudyGroup,raid,StudyVisit,SystolicR1,DiastolicR1,SystolicL1,DiastolicL1,SystolicR2,...,WaistCm2,HipCm1,HipCm2,RANotes,CorrectedRVDate,RVMissedItems,HeightCm,MeanWtKg,bmi,MeanWaistCm
studyID,,,,,,,,,,,,,,,,,,,,,
2001,2014-11-17,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),137.0,78.0,146.0,92.0,132.0,...,114.4,115.9,116.0,no strips,2014-12-01,Yes,176.4,115.0,36.957338,114.35
2001,2015-03-03,Yes,Blue,2. 23 Shannon Muramoto,3 Month,137.0,67.0,127.0,71.0,127.0,...,101.3,119.0,119.0,NaN,2014-12-01,Yes,176.4,102.5,32.940236,101.40
2001,2015-06-02,Yes,Blue,9. 40 Raymond Ma,6 Month,121.0,58.0,133.0,66.0,122.0,...,105.8,108.3,108.4,NaN,2014-12-01,Yes,176.4,103.7,33.325878,105.90
2003,2014-11-22,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),113.0,86.0,121.0,93.0,107.0,...,125.2,131.4,131.5,no strips,2014-12-09,Yes,162.2,113.9,43.293433,125.20
2003,2015-03-30,Yes,Blue,2. 23 Shannon Muramoto,3 Month,108.0,72.0,116.0,81.0,96.0,...,121.5,132.6,132.6,NaN,2014-12-09,Yes,162.2,115.3,43.825573,121.60
2003,2015-07-22,Yes,Blue,9. 40 Raymond Ma,6 Month,107.0,78.0,117.0,90.0,113.0,...,127.8,135.0,135.0,NaN,2014-12-09,Yes,162.2,114.7,43.597513,127.80
2007,2015-01-07,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),115.0,68.0,114.0,68.0,99.0,...,85.1,99.8,99.8,no strips,2015-01-22,Yes,166.5,72.9,26.296567,85.15
2007,NaN,Yes,Blue,NaN,3 Month,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Withdrew from intervention and study; missed MO3,2015-01-22,Yes,166.5,NaN,NaN,NaN
2007,2015-06-09,Yes,Blue,2. 23 Shannon Muramoto,6 Month,118.0,68.0,110.0,65.0,92.0,...,83.3,101.5,101.3,Used values from MO5 for exit visit,2015-01-22,Yes,166.5,71.2,25.683341,83.35
2008,2015-01-20,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),128.0,88.0,136.0,88.0,116.0,...,91.8,99.4,99.3,no strips,2015-02-04,Yes,148.6,64.5,29.209364,91.80
2008,2015-05-06,Yes,Blue,2. 23 Shannon Muramoto,3 Month,130.0,74.0,122.0,78.0,126.0,...,84.0,91.7,91.6,NaN,2015-02-04,Yes,148.6,58.0,26.265784,84.00
2008,2015-08-04,Yes,Blue,9. 40 Raymond Ma,6 Month,131.0,79.0,128.0,84.0,125.0,...,80.3,87.5,87.3,NaN,2015-02-04,Yes,148.6,53.4,24.182636,80.30
2009,2015-01-10,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),129.0,93.0,125.0,94.0,136.0,...,93.3,100.0,100.0,no strips,2015-02-05,Yes,163.4,72.8,27.266367,93.35
2009,NaN,Yes,Blue,NaN,3 Month,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Withdrew from intervention and study,2015-02-05,Yes,163.4,NaN,NaN,NaN
2009,NaN,Yes,Blue,NaN,6 Month,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Withdrew from intervention and study,2015-02-05,Yes,163.4,NaN,NaN,NaN
2014,2015-02-14,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),132.0,71.0,132.0,70.0,125.0,...,93.5,97.5,97.4,Machine error (glucometer),2015-04-22,Yes,164.7,74.5,27.464334,93.50
2014,2015-07-25,Yes,Blue,9. 40 Raymond Ma,3 Month,114.0,67.0,123.0,71.0,112.0,...,80.0,89.0,89.0,NaN,2015-04-22,Yes,164.7,63.8,23.519792,80.00
2014,2015-10-12,Yes,Blue,9. 40 Raymond Ma,6 Month,131.0,73.0,134.0,72.0,113.0,...,76.5,86.0,86.0,NaN,2015-04-22,Yes,164.7,60.0,22.118927,76.50
2017,2015-03-30,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),133.0,99.0,132.0,90.0,128.0,...,95.7,104.2,104.0,NaN,2015-04-16,Yes,178.3,90.5,28.467275,95.75
2017,2015-07-21,Yes,Blue,9. 40 Raymond Ma,3 Month,125.0,59.0,116.0,78.0,122.0,...,93.0,101.3,101.3,NaN,2015-04-16,Yes,178.3,87.2,27.429242,93.00
2017,2015-10-22,Yes,Blue,9. 40 Raymond Ma,6 Month,131.0,75.0,131.0,73.0,123.0,...,86.0,96.0,96.0,NaN,2015-04-16,Yes,178.3,83.1,26.139564,86.00
2020,2015-04-03,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),139.0,91.0,136.0,89.0,143.0,...,99.8,102.3,102.3,NaN,2015-04-30,Yes,170.0,94.1,32.560554,99.80
2020,2015-07-30,Yes,Blue,9. 40 Raymond Ma,3 Month,130.0,82.0,140.0,85.0,130.0,...,95.5,104.0,104.0,NaN,2015-04-30,Yes,170.0,92.5,32.006920,95.55
2020,2015-11-04,Yes,Blue,9. 40 Raymond Ma,6 Month,123.0,80.0,120.0,73.0,120.0,...,95.0,100.0,100.0,NaN,2015-04-30,Yes,170.0,89.2,30.865052,95.00
2021,2015-04-08,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),131.0,71.0,128.0,66.0,130.0,...,84.5,101.1,101.2,NaN,2015-05-06,Yes,144.5,58.8,28.160582,84.50
2021,2015-08-03,Yes,Blue,9. 40 Raymond Ma,3 Month,122.0,62.0,125.0,68.0,110.0,...,85.0,100.0,100.0,NaN,2015-05-06,Yes,144.5,58.0,27.777445,85.00
2021,2015-11-09,Yes,Blue,9. 40 Raymond Ma,6 Month,147.0,64.0,123.0,64.0,131.0,...,81.5,100.0,100.0,NaN,2015-05-06,Yes,144.5,57.4,27.490092,81.50
2024,2015-04-14,Yes,Blue,2. 23 Shannon Muramoto,Baseline Visit (Week 0),113.0,57.0,102.0,55.0,97.0,...,88.5,102.9,102.9,NaN,2015-04-28,Yes,161.9,73.6,28.079160,88.60
2024,2015-08-25,Yes,Blue,9. 40 Raymond Ma,3 Month,101.0,69.0,96.0,69.0,93.0,...,92.1,97.5,97.6,NaN,2015-04-28,Yes,161.9,66.0,25.179682,92.05
2024,2015-11-03,Yes,Blue,9. 40 Raymond Ma,6 Month,97.0,56.0,92.0,50.0,93.0,...,90.5,98.7,98.7,NaN,2015-04-28,Yes,161.9,66.7,25.446739,90.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,2015-08-10,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),125.0,72.0,118.0,68.0,121.0,...,99.0,95.0,95.0,NaN,2015-09-22,Yes,161.1,77.6,29.899962,99.00
2059,2016-01-28,Yes,Red,9. 40 Raymond Ma,3 Month,118.0,65.0,121.0,60.0,118.0,...,96.5,91.0,91.0,NaN,2015-09-22,Yes,161.1,75.4,29.052283,96.50
2059,2016-05-10,Yes,Red,9. 40 Raymond Ma,6 Month,110.0,56.0,114.0,55.0,105.0,...,92.0,91.0,91.0,NaN,2015-09-22,Yes,161.1,73.3,28.243134,92.00
2060,2015-08-11,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),142.0,80.0,131.0,77.0,139.0,...,84.9,91.0,91.0,NaN,2015-09-03,Yes,166.0,68.3,24.785891,84.90
2060,2015-12-10,Yes,Red,9. 40 Raymond Ma,3 Month,132.0,69.0,125.0,69.0,136.0,...,84.5,91.0,91.0,NaN,2015-09-03,Yes,166.0,68.1,24.713311,84.50
2060,2016-03-02,Yes,Red,7. 37 Claire Pham,6 Month,135.0,81.0,139.0,88.0,133.0,...,83.7,89.6,89.8,NaN,2015-09-03,Yes,166.0,66.2,24.023806,83.75
2066,2015-10-02,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),156.0,78.0,134.0,75.0,136.0,...,100.7,103.4,103.4,NaN,2015-10-26,Yes,161.6,72.6,27.800583,100.70
2066,2016-02-08,Yes,Red,9. 40 Raymond Ma,3 Month,149.0,77.0,139.0,79.0,132.0,...,100.5,104.5,104.5,Withdrew from intervention; missed MO5,2015-10-26,Yes,161.6,71.1,27.226191,100.50
2066,2016-07-07,Yes,Red,40,6 Month,141.0,61.0,136.0,79.0,127.0,...,93.5,101.5,101.5,Completed exit visit,2015-10-26,Yes,161.6,71.8,27.494241,93.50
2070,2015-11-04,Yes,Red,7. 37 Claire Pham,Baseline Visit (Week 0),114.0,75.0,126.0,86.0,119.0,...,103.4,110.5,110.5,"glucometer was in another office, RA had no ac...",2015-12-04,Yes,167.2,88.2,31.549758,103.40
2070,2016-02-29,Yes,Red,7. 37 Claire Pham,3 Month,122.0,83.0,129.0,82.0,123.0,...,102.3,109.8,109.9,NaN,2015-12-04,Yes,167.2,87.7,31.370905,102.25
2070,2016-06-24,Yes,Red,40,6 Month,118.0,72.0,124.0,81.0,112.0,...,88.5,107.5,107.5,NaN,2015-12-04,Yes,167.2,87.3,31.227822,88.50
2071,2015-11-10,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),159.0,83.0,153.0,91.0,133.0,...,108.5,109.0,109.0,NaN,2015-12-09,Yes,175.8,101.9,32.971328,108.50
2071,2016-03-23,Yes,Red,9. 40 Raymond Ma,3 Month,138.0,80.0,145.0,88.0,135.0,...,106.3,106.0,106.0,NaN,2015-12-09,Yes,175.8,101.8,32.938972,106.30
2071,2016-06-21,Yes,Red,40,6 Month,127.0,77.0,127.0,77.0,129.0,...,105.0,106.5,106.5,NaN,2015-12-09,Yes,175.8,101.5,32.841902,105.00
2078,2015-12-01,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),130.0,72.0,123.0,71.0,126.0,...,91.0,101.0,101.0,NaN,2015-12-21,Yes,155.9,64.8,26.661389,91.00
2078,2016-03-21,Yes,Red,9. 40 Raymond Ma,3 Month,116.0,68.0,125.0,66.0,113.0,...,85.5,101.5,101.5,NaN,2015-12-21,Yes,155.9,66.1,27.196263,85.50
2078,2016-06-23,Yes,Red,40,6 Month,128.0,67.0,113.0,69.0,120.0,...,83.0,98.0,98.0,NaN,2015-12-21,Yes,155.9,61.9,25.468210,83.00
2080,2015-12-09,Yes,Red,7. 37 Claire Pham,Baseline Visit (Week 0),135.0,87.0,125.0,86.0,126.0,...,104.5,109.0,109.0,NaN,2016-01-07,Yes,156.6,78.3,31.928480,104.50
2080,2016-04-07,Yes,Red,9. 40 Raymond Ma,3 Month,132.0,82.0,139.0,82.0,138.0,...,101.0,103.0,103.0,NaN,2016-01-07,Yes,156.6,76.4,31.153715,101.00
2080,2016-07-07,Yes,Red,40,6 Month,152.0,86.0,130.0,74.0,137.0,...,100.0,101.3,101.3,NaN,2016-01-07,Yes,156.6,76.5,31.194492,99.95
2081,2015-12-10,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),143.0,98.0,134.0,97.0,138.0,...,96.3,101.5,101.5,NaN,2016-01-05,Yes,168.3,85.8,30.291380,96.30
2081,2016-04-05,Yes,Red,9. 40 Raymond Ma,3 Month,141.0,91.0,136.0,101.0,131.0,...,95.6,103.0,103.0,NaN,2016-01-05,Yes,168.3,87.4,30.856254,95.60
2081,2016-07-05,Yes,Red,40,6 Month,125.0,83.0,128.0,85.0,127.0,...,90.3,101.5,101.5,NaN,2016-01-05,Yes,168.3,84.9,29.973638,90.30
2083,2015-12-22,Yes,Red,7. 37 Claire Pham,Baseline Visit (Week 0),122.0,77.0,123.0,77.0,128.0,...,107.3,106.9,106.9,no strips,2016-01-21,Yes,161.2,78.4,30.170742,107.30
2083,2016-04-26,Yes,Red,9. 40 Raymond Ma,3 Month,120.0,74.0,124.0,80.0,124.0,...,102.5,99.0,99.0,NaN,2016-01-21,Yes,161.2,80.9,31.132819,102.50
2083,2016-07-22,Yes,Red,40,6 Month,118.0,73.0,116.0,74.0,123.0,...,100.0,94.5,94.5,NaN,2016-01-21,Yes,161.2,73.0,28.092655,100.00
2085,2016-01-08,Yes,Red,9. 40 Raymond Ma,Baseline Visit (Week 0),129.0,80.0,123.0,87.0,129.0,...,93.5,103.0,103.0,no strips,2016-01-29,Yes,155.2,71.4,29.642497,93.50
2085,2016-04-08,Yes,Red,9. 40 Raymond Ma,3 Month,124.0,72.0,110.0,78.0,125.0,...,97.0,104.0,104.0,NaN,2016-01-29,Yes,155.2,71.6,29.725529,97.00
2085,2016-07-29,Yes,Red,40,6 Month,118.0,72.0,114.0,77.0,112.0,...,81.5,99.5,99.5,NaN,2016-01-29,Yes,155.2,65.7,27.276079,81.50

In [8]:
labs=pd.read_excel('F&T labs.xlsx')
labs['BFastDate']=pd.to_datetime(labs['BFastDate'], format='%d-%b-%y',errors='ignore')
labs['MO3FastDate']=pd.to_datetime(labs['MO3FastDate'], format='%d-%b-%y',errors='ignore')
labs['MO6FastDate']=pd.to_datetime(labs['MO6FastDate'], format='%d-%b-%y',errors='ignore')

labs=labs.drop(columns=['MO6Validity'],axis=1)
labs=labs.set_index('studyID')
labs

,Brae,StudyGroup,Bldstatus1,Randomization,BDM,Age,Gender,BFastDate,BValidity,BNotes,...,MO6HDL,MO6Tri,MO6LDL,MO6choHD,MO6LDLRatio,M6CRFemale,M6CRMale,MO6MeanGlu,MO6Insulin,MO6Notes
studyID,,,,,,,,,,,,,,,,,,,,,
2001,25,1,1,1,0,28,0,2014-11-25 00:00:00,1,None,...,46,78,133,4.2,2.9,9,2,9999,6.9,Mean plasma glucose missing
2002,23,2,1,1,0,38,1,2014-12-06 00:00:00,0,"Insulin time 1, 2, and 4 missing due to hemolysis",...,45,155,164,5.3,3.6,2,9,9999,6.5,NaN
2003,25,1,1,1,0,26,1,2014-11-29 00:00:00,1,None,...,31,106,136,6.1,4.4,3,9,9999,20.5,NaN
2004,23,2,1,1,0,60,0,2014-12-05 00:00:00,0,"Insulin time 2, 4 and 5 missing due to hemolysis",...,92,63,154,2.8,1.7,9,1,9999,3.2,NaN
2005,23,2,1,1,0,34,0,2014-12-18 00:00:00,0,Insulin time 4 missing due to hemolysis,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Withdrew from intervention
2006,23,2,1,1,0,48,1,2014-12-19 00:00:00,1,None,...,92,94,122,2.5,1.3,1,9,9999,20.3,NaN
2007,43,1,1,1,0,27,1,2015-01-15 00:00:00,0,OGTT 1 hour and Insulin missing test not perfo...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Withdrew from intervention and study
2008,43,1,1,1,0,46,1,2015-01-29 00:00:00,1,None,...,85,40,129,2.6,1.5,1,9,9999,5.1,NaN
2009,43,1,1,1,0,38,1,2015-01-17 00:00:00,1,None,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Withdrew from intervention and study
2010,43,2,1,1,0,25,1,2015-01-16 00:00:00,1,None,...,52,56,105,3.2,2.0,1,9,9999,5.7,NaN
2011,37,0,1,0,0,26,1,2015-02-19 00:00:00,1,None,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Dropped out
2012,37,2,1,1,0,29,0,2015-02-14 00:00:00,0,Insulin time 4 missing due to hemolysis,...,87,98,141,2.9,1.6,9,1,9999,9999.0,Test not performed. specimen unsuitbale for te...
2013,37,2,1,1,0,68,1,2015-02-04 00:00:00,0,"Insulin time 1, 2, 3, 4, and 5 and total chole...",...,84,112,132,2.8,1.6,1,9,9999,5.2,NaN
2014,37,1,1,1,0,47,0,2015-02-28 00:00:00,0,Insulin time 5 missing due to hemolysis,...,63,54,73,2.3,1.2,9,1,9999,2.9,NaN
2015,37,0,0,0,9999,42,1,#NULL!,0,Not qualified due to high BP reading at SB visit,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to high BP reading at SB visit
2016,37,0,1,0,1,33,1,2015-04-01 00:00:00,1,Not qualified due to having diabetes,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2017,37,1,1,1,0,43,0,2015-04-10 00:00:00,1,"Age on the lab report is incorrect, corrected ...",...,49,90,109,3.6,2.2,9,1,9999,5.2,NaN
2018,37,0,0,0,9999,27,1,#NULL!,0,Dropped out,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Dropped out
2019,37,0,0,0,9999,49,0,#NULL!,0,Not qualified due to high BP reading at SB visit,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to high BP reading at SB visit
2020,37,1,1,1,0,39,0,2015-04-15 00:00:00,1,None,...,33,140,123,5.6,3.7,9,2,9999,3.8,NaN
2021,37,1,1,1,0,61,1,2015-04-29 00:00:00,0,Insulin time 1 missing due to hemolysis,...,33,182,127,5.9,3.8,2,9,9999,7.1,NaN
2022,37,2,1,1,0,38,1,2015-04-16 00:00:00,1,None,...,57,63,112,3.2,2.0,1,9,9999,5.6,NaN
2023,37,2,1,1,0,26,1,2015-05-01 00:00:00,1,None,...,58,73,86,2.7,1.5,1,9,9999,7.9,NaN
2024,37,1,1,1,0,31,1,2015-04-23 00:00:00,0,"Insulin time 1, 2, 3, 4, and 5 missing due to ...",...,69,62,41,1.8,0.6,1,9,9999,5.4,"there are 2 labs, 1 fasting and 1 non-fasting...."
2025,37,2,1,1,0,41,0,2015-04-21 00:00:00,1,None,...,39,65,97,3.8,2.5,9,2,9999,12.4,NaN
2026,37,2,1,1,0,45,0,2015-04-28 00:00:00,1,None,...,55,60,108,3.2,2.0,9,1,9999,3.0,NaN
2027,37,2,1,1,0,27,1,2015-05-27 00:00:00,1,0,...,54,118,175,4.7,3.2,2,9,9999,5.1,NaN
2028,37,1,1,1,0,29,0,2015-05-07 00:00:00,1,None,...,37,336,144,6.7,3.9,9,2,9999,16.9,NaN
2029,37,1,1,1,0,65,0,2015-05-05 00:00:00,0,Insulin time 4 missing due to hemolysis,...,73,85,150,3.3,2.1,9,1,9999,1.4,NaN
2030,37,0,1,0,1,46,0,2015-05-06 00:00:00,1,Not qualified due to having diabetes,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2056,37,1,1,1,0,40,1,2015-08-12 00:00:00,0,Mean plasma glucose missing,...,52,149,80,3.1,1.5,1,9,9999,9.9,NaN
2057,37,2,1,1,0,40,0,2015-08-19 00:00:00,0,Mean plasma glucose missing,...,63,69,84,2.6,1.3,9,1,9999,2.3,NaN
2058,37,2,1,1,0,36,1,2015-09-21 00:00:00,0,Mean plasma glucose missing,...,36,73,94,4.0,2.6,2,9,9999,8.8,NaN
2059,37,2,1,1,0,38,0,2015-09-12 00:00:00,0,Insulin time 1 missing due to hemolysis and me...,...,37,134,174,6.4,4.7,9,2,9999,6.2,NaN
2060,37,2,1,1,0,42,0,2015-08-21 00:00:00,0,Insulin time 4 and 5 missing due to hemolysis ...,...,50,119,97,3.4,1.9,9,1,9999,8.5,NaN
2061,37,0,0,0,9999,35,1,#NULL!,0,Dropped out,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Dropped out
2062,37,0,1,0,1,35,1,2015-09-25 00:00:00,0,Not qualified due to having diabetes,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2063,37,1,1,1,0,26,0,2015-09-17 00:00:00,0,Mean plasma glucose missing,...,40,185,108,4.6,2.7,9,2,9999,5.4,NaN
2064,37,1,1,1,0,33,0,2015-09-11 00:00:00,0,Mean plasma glucose missing,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,NaN
2065,37,0,1,0,1,33,1,2015-09-18 00:00:00,0,Insulin time 2 and 3 missing due to hemolysis;...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2066,37,2,1,1,0,50,1,2015-10-09 00:00:00,0,Insulin time 4 and 5 missing due to hemolysis ...,...,74,69,78,2.2,1.1,1,9,9999,8.6,NaN
2067,37,1,1,1,0,67,1,2015-10-21 00:00:00,0,Mean plasma glucose missing,...,59,104,155,4.0,2.6,2,9,9999,6.7,NaN
2068,37,0,0,0,9999,28,0,#NULL!,0,Not qualified missed two blood draws,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to missing 2 blood draw appo...
2069,37,1,1,1,0,44,0,2015-11-13 00:00:00,0,Mean plasma glucose missing,...,61,70,90,2.7,1.5,9,1,9999,2.2,NaN
2070,37,2,1,1,0,53,1,2015-11-20 00:00:00,0,Insulin time 4 missing due to hemolysis and me...,...,60,75,90,2.8,1.5,1,9,9999,17.6,NaN
2071,37,2,1,1,0,49,0,2015-12-02 00:00:00,0,Mean plasma glucose missing,...,39,207,118,5.1,3.0,9,2,9999,20.4,NaN
2072,37,1,1,1,0,52,0,2015-12-03 00:00:00,0,Insulin time 1 missing due to hemolysis and me...,...,53,76,94,3.1,1.8,9,1,9999,5.2,NaN
2073,37,0,1,0,1,65,0,2015-11-18 00:00:00,0,Insulin time 1 missing due to hemolysis and me...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2074,37,1,1,1,0,63,1,2015-12-04 00:00:00,0,Insulin time 2 missing due to hemolysis and me...,...,100,116,117,2.4,1.2,1,9,9999,3.5,NaN
2075,37,1,1,1,0,33,0,2015-12-04 00:00:00,0,Mean plasma glucose missing,...,39,185,164,6.2,4.2,9,2,9999,13.0,NaN
2076,37,1,1,1,0,37,1,2015-12-15 00:00:00,0,All Insulin missing due to hemolysis and Mean ...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,NaN
2077,37,0,1,0,1,49,1,2015-12-12 00:00:00,0,All Insulin missing due to hemolysis and Mean ...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2078,37,2,1,1,0,58,1,2015-12-11 00:00:00,0,Mean plasma glucose missing,...,53,191,106,3.7,2.0,1,9,9999,6.0,NaN
2079,37,0,1,0,1,45,1,2015-12-10 00:00:00,0,Insulin time 5 missing due to hemolysis;mean p...,...,9999,9999,9999,9999.0,9999.0,9999,9999,9999,9999.0,Not qualified due to having diabetes
2080,37,2,1,1,0,41,1,2015-12-17 00:00:00,0,Insulin time 2 and 3 missing due to hemolysis;...,...,46,129,106,3.9,2.3,1,9,9999,19.5,NaN
2081,37,2,1,1,0,30,0,2015-12-18 00:00:00,0,Mean plasma glucose missing,...,48,126,115,3.9,2.4,9,2,9999,10.3,NaN
2082,37,1,1,1,0,45,1,2015-12-29 00:00:00,0,Mean plasma glucose missing,...,35,250,125,6.0,3.6,2,9,9999,31.1,NaN
2083,37,2,1,1,0,52,0,2016-01-09 00:00:00,0,Mean plasma glucose missing,...,75,69,115,2.7,1.5,9,1,9999,5.0,NaN
2084,37,1,1,1,0,25,1,2016-01-09 00:00:00,0,Insulin time 5 missing due to hemolysis;mean p...,...,53,47,67,2.4,1.3,1,9,9999,7.5,NaN
2085,37,2,1,1,0,39,1,2016-01-15 00:00:00,0,Insulin time 3 missing due to hemolysis;mean p...,...,48,55,98,3.3,2.0,1,9,9999,3.0,NaN

In [9]:
step_count_activityselect=step_count_activity[['studyID', 'Steps']].copy()
step_count_bodyselect=step_count_body[['Date','Weight','BMI']].copy()
step_count=pd.concat([step_count_activityselect, step_count_bodyselect], axis=1, sort=False)
step_count

   studyID   Steps        Date  Weight    BMI
0     2001   9,865  2015-07-23  225.00  32.18
1     2001   6,695  2015-07-24  225.00  32.18
2     2001   5,311  2015-07-25  225.00  32.18
3     2001   2,176  2015-07-26  225.00  32.18
4     2001  16,141  2015-07-27  225.00  32.18
5     2001  17,842  2015-07-28  225.00  32.18
6     2001   4,471  2015-07-29  225.00  32.18
7     2001   3,482  2015-07-30  225.00  32.18
8     2001  23,967  2015-07-31  225.00  32.18
9     2001   1,224  2015-08-01  225.00  32.18
10    2001   4,832  2015-08-02  225.00  32.18
11    2001       0  2015-08-03  225.00  32.18
12    2001   2,713  2015-08-04  225.00  32.18
13    2001  16,479  2015-08-05  225.00  32.18
14    2001   1,507  2015-08-06  225.00  32.18
15    2001   7,928  2015-08-07  225.00  32.18
16    2001       7  2015-08-08  225.00  32.18
17    2001   3,603  2015-08-09  225.00  32.18
18    2001   1,188  2015-08-10  225.00  32.18
19    2001  17,616  2015-08-11  225.00  32.18
20    2001   3,124  2015-08-12  225.00  32.18
21    2001   4,726  2015-08-13  225.00  32.18
22    2001   3,743  2015-08-14  225.00  32.18
23    2001       0  2015-08-15  225.00  32.18
24    2001   6,543  2015-08-16  225.00  32.18
25    2001   1,611  2015-08-17  225.00  32.18
26    2001      18  2015-08-18  225.00  32.18
27    2001   1,067  2015-08-19  225.00  32.18
28    2001  11,010  2015-08-20  225.00  32.18
29    2001  10,661  2015-08-21  225.00  32.18
..     ...     ...         ...     ...    ...
1     2085   7,996  2016-01-09  150.58  25.06
2     2085  32,943  2016-01-10  150.87  25.11
3     2085   8,127  2016-01-11  151.16  25.15
4     2085  10,401  2016-01-12  151.45  25.20
5     2085  13,278  2016-01-13  151.74  25.25
6     2085   9,804  2016-01-14  152.03  25.30
7     2085   4,820  2016-01-15  152.32  25.35
8     2085   4,397  2016-01-16  152.61  25.40
9     2085   7,882  2016-01-17  152.91  25.45
10    2085  14,420  2016-01-18  153.20  25.49
11    2085   9,165  2016-01-19  153.49  25.54
12    2085   9,173  2016-01-20  153.78  25.59
13    2085  10,390  2016-01-21  154.07  25.64
14    2085  14,497  2016-01-22  154.36  25.69
15    2085   8,552  2016-01-23  154.65  25.74
16    2085  10,988  2016-01-24  154.94  25.78
17    2085  18,149  2016-01-25  155.23  25.83
18    2085   9,556  2016-01-26  155.52  25.88
19    2085  17,229  2016-01-27  155.82  25.93
20    2085  10,068  2016-01-28  156.11  25.98
21    2085   4,372  2016-01-29  156.40  26.03
22    2085  18,662  2016-01-30  156.69  26.07
23    2085   9,148  2016-01-31  157.00  26.13
24    2085  11,212  2016-02-01  157.10  26.14
25    2085  15,332  2016-02-02  157.20  26.16
26    2085  19,767  2016-02-03  157.29  26.18
27    2085  14,939  2016-02-04  157.39  26.19
28    2085  14,995  2016-02-05  157.49  26.21
29    2085   9,854  2016-02-06  157.59  26.23
30    2085   3,932  2016-02-07  157.69  26.24

[25171 rows x 5 columns]

In [10]:
anthro=anthropometrics[['CorrectedDate','StudyGroup']].copy()
anthro

        CorrectedDate StudyGroup
studyID
2001       2014-11-17       Blue
2001       2015-03-03       Blue
2001       2015-06-02       Blue
2003       2014-11-22       Blue
2003       2015-03-30       Blue
2003       2015-07-22       Blue
2007       2015-01-07       Blue
2007              NaN       Blue
2007       2015-06-09       Blue
2008       2015-01-20       Blue
2008       2015-05-06       Blue
2008       2015-08-04       Blue
2009       2015-01-10       Blue
2009              NaN       Blue
2009              NaN       Blue
2014       2015-02-14       Blue
2014       2015-07-25       Blue
2014       2015-10-12       Blue
2017       2015-03-30       Blue
2017       2015-07-21       Blue
2017       2015-10-22       Blue
2020       2015-04-03       Blue
2020       2015-07-30       Blue
2020       2015-11-04       Blue
2021       2015-04-08       Blue
2021       2015-08-03       Blue
2021       2015-11-09       Blue
2024       2015-04-14       Blue
2024       2015-08-25       Blue
2024       2015-11-03       Blue
...               ...        ...
2059       2015-08-10        Red
2059       2016-01-28        Red
2059       2016-05-10        Red
2060       2015-08-11        Red
2060       2015-12-10        Red
2060       2016-03-02        Red
2066       2015-10-02        Red
2066       2016-02-08        Red
2066       2016-07-07        Red
2070       2015-11-04        Red
2070       2016-02-29        Red
2070       2016-06-24        Red
2071       2015-11-10        Red
2071       2016-03-23        Red
2071       2016-06-21        Red
2078       2015-12-01        Red
2078       2016-03-21        Red
2078       2016-06-23        Red
2080       2015-12-09        Red
2080       2016-04-07        Red
2080       2016-07-07        Red
2081       2015-12-10        Red
2081       2016-04-05        Red
2081       2016-07-05        Red
2083       2015-12-22        Red
2083       2016-04-26        Red
2083       2016-07-22        Red
2085       2016-01-08        Red
2085       2016-04-08        Red
2085       2016-07-29        Red

[201 rows x 2 columns]

In [11]:
Labs=labs[['StudyGroup','Age','Gender','Bglucose','BA1C','MO3Glucose','MO3A1C','MO6Glucose','MO6A1C']].copy()

Labs

,StudyGroup,Age,Gender,Bglucose,BA1C,MO3Glucose,MO3A1C,MO6Glucose,MO6A1C
studyID,,,,,,,,,
2001,1,28,0,101,5.6,83,5.6,94,5.7
2002,2,38,1,81,5.9,94,5.9,88,6.0
2003,1,26,1,82,6.3,76,6.4,123,6.7
2004,2,60,0,98,6.4,103,6.2,101,6.3
2005,2,34,0,100,5.9,87,6.0,9999,9999.0
2006,2,48,1,100,6.2,112,6.4,105,6.4
2007,1,27,1,84,5.9,9999,9999.0,9999,9999.0
2008,1,46,1,88,5.5,80,5.2,82,5.4
2009,1,38,1,72,5.7,9999,9999.0,9999,9999.0
2010,2,25,1,78,5.3,76,5.4,76,5.5
2011,0,26,1,83,5.2,9999,9999.0,9999,9999.0
2012,2,29,0,85,5.5,85,5.6,93,5.6
2013,2,68,1,90,5.9,87,5.9,82,5.7
2014,1,47,0,98,6.5,78,6.0,85,6.1
2015,0,42,1,9999,9999.0,9999,9999.0,9999,9999.0
2016,0,33,1,131,6.6,9999,9999.0,9999,9999.0
2017,1,43,0,100,5.9,89,5.9,92,5.7
2018,0,27,1,9999,9999.0,9999,9999.0,9999,9999.0
2019,0,49,0,9999,9999.0,9999,9999.0,9999,9999.0
2020,1,39,0,84,5.4,84,5.3,83,5.5
2021,1,61,1,98,5.8,93,5.8,96,6.0
2022,2,38,1,92,5.8,85,5.7,82,6.0
2023,2,26,1,79,5.3,78,5.3,79,5.1
2024,1,31,1,79,5.7,72,5.8,78,5.7
2025,2,41,0,85,6.1,94,6.1,95,5.6
2026,2,45,0,93,6.0,90,5.9,91,5.9
2027,2,27,1,84,5.4,87,5.5,93,5.4
2028,1,29,0,90,5.5,93,5.7,92,5.9
2029,1,65,0,100,5.6,98,5.7,90,5.6
2030,0,46,0,102,6.1,9999,9999.0,9999,9999.0
...,...,...,...,...,...,...,...,...,...
2056,1,40,1,84,5.9,82,5.6,90,5.9
2057,2,40,0,92,5.7,102,6.0,94,5.7
2058,2,36,1,92,5.5,97,5.0,93,5.5
2059,2,38,0,94,5.5,88,5.6,87,5.6
2060,2,42,0,96,5.8,95,6.0,98,5.7
2061,0,35,1,9999,9999.0,9999,9999.0,9999,9999.0
2062,0,35,1,88,5.4,9999,9999.0,9999,9999.0
2063,1,26,0,87,5.7,95,5.2,84,5.4
2064,1,33,0,91,5.5,9999,9999.0,9999,9999.0
2065,0,33,1,105,6.7,9999,9999.0,9999,9999.0
2066,2,50,1,90,6.1,92,5.9,88,5.6
2067,1,67,1,93,6.2,102,6.0,100,5.8
2068,0,28,0,9999,9999.0,9999,9999.0,9999,9999.0
2069,1,44,0,95,5.8,97,5.4,93,5.5
2070,2,53,1,102,6.0,106,6.2,104,6.0
2071,2,49,0,95,6.6,103,6.6,102,6.4
2072,1,52,0,111,6.1,102,5.9,111,5.9
2073,0,65,0,105,7.1,9999,9999.0,9999,9999.0
2074,1,63,1,104,6.5,84,5.9,103,6.0
2075,1,33,0,91,5.6,86,5.4,94,5.2
2076,1,37,1,88,5.8,9999,9999.0,9999,9999.0
2077,0,49,1,93,6.3,9999,9999.0,9999,9999.0
2078,2,58,1,97,6.1,82,6.2,95,6.1
2079,0,45,1,56,5.1,9999,9999.0,9999,9999.0
2080,2,41,1,85,5.8,89,5.6,92,5.7
2081,2,30,0,86,6.2,98,5.9,100,5.7
2082,1,45,1,107,6.0,102,6.3,102,6.0
2083,2,52,0,118,6.2,103,6.1,95,5.8
2084,1,25,1,79,5.7,91,5.5,90,5.4
2085,2,39,1,89,5.8,86,5.7,77,5.7

In [12]:
import numpy as np

Blue_labs = Labs[Labs.StudyGroup == 1]
Blue_labs = Blue_labs.replace(9999, np.nan)
Blue_labs.drop(['MO6Glucose','MO6A1C'], axis=1, inplace=True)

mapping = {1: 'Blue', 2: 'Red'}
Blue_labs = Blue_labs.replace({'StudyGroup': mapping})

mapping_gender = {0: 'Male', 1: 'Female'}
Blue_labs = Blue_labs.replace({'Gender': mapping_gender})
Blue_labs

        StudyGroup  Age  Gender  Bglucose  BA1C  MO3Glucose  MO3A1C
studyID
2001          Blue   28    Male       101   5.6        83.0     5.6
2003          Blue   26  Female        82   6.3        76.0     6.4
2007          Blue   27  Female        84   5.9         NaN     NaN
2008          Blue   46  Female        88   5.5        80.0     5.2
2009          Blue   38  Female        72   5.7         NaN     NaN
2014          Blue   47    Male        98   6.5        78.0     6.0
2017          Blue   43    Male       100   5.9        89.0     5.9
2020          Blue   39    Male        84   5.4        84.0     5.3
2021          Blue   61  Female        98   5.8        93.0     5.8
2024          Blue   31  Female        79   5.7        72.0     5.8
2028          Blue   29    Male        90   5.5        93.0     5.7
2029          Blue   65    Male       100   5.6        98.0     5.7
2032          Blue   37    Male        64   5.8        86.0     5.8
2033          Blue   47    Male        77   5.6       102.0     5.8
2035          Blue   52  Female       101   6.0       100.0     5.8
2037          Blue   54    Male       102   6.3        98.0     6.4
2039          Blue   30  Female        89   5.9        87.0     5.8
2044          Blue   54  Female        90   5.9        96.0     6.1
2046          Blue   33    Male        79   5.6        80.0     5.6
2050          Blue   35  Female        80   5.5        75.0     5.6
2052          Blue   30    Male        78   5.5         NaN     NaN
2055          Blue   45    Male        90   5.6        90.0     5.7
2056          Blue   40  Female        84   5.9        82.0     5.6
2063          Blue   26    Male        87   5.7        95.0     5.2
2064          Blue   33    Male        91   5.5         NaN     NaN
2067          Blue   67  Female        93   6.2       102.0     6.0
2069          Blue   44    Male        95   5.8        97.0     5.4
2072          Blue   52    Male       111   6.1       102.0     5.9
2074          Blue   63  Female       104   6.5        84.0     5.9
2075          Blue   33    Male        91   5.6        86.0     5.4
2076          Blue   37  Female        88   5.8         NaN     NaN
2082          Blue   45  Female       107   6.0       102.0     6.3
2084          Blue   25  Female        79   5.7        91.0     5.5

In [13]:
Red_labs = Labs[Labs.StudyGroup == 2]
Red_labs = Red_labs.replace(9999, np.nan)
Red_labs.drop(['Bglucose','BA1C'], axis=1, inplace=True)

Red_labs = Red_labs.replace({'StudyGroup': mapping})
Red_labs = Red_labs.replace({'Gender': mapping_gender})
Red_labs

        StudyGroup  Age  Gender  MO3Glucose  MO3A1C  MO6Glucose  MO6A1C
studyID
2002           Red   38  Female        94.0     5.9        88.0     6.0
2004           Red   60    Male       103.0     6.2       101.0     6.3
2005           Red   34    Male        87.0     6.0         NaN     NaN
2006           Red   48  Female       112.0     6.4       105.0     6.4
2010           Red   25  Female        76.0     5.4        76.0     5.5
2012           Red   29    Male        85.0     5.6        93.0     5.6
2013           Red   68  Female        87.0     5.9        82.0     5.7
2022           Red   38  Female        85.0     5.7        82.0     6.0
2023           Red   26  Female        78.0     5.3        79.0     5.1
2025           Red   41    Male        94.0     6.1        95.0     5.6
2026           Red   45    Male        90.0     5.9        91.0     5.9
2027           Red   27  Female        87.0     5.5        93.0     5.4
2031           Red   55  Female         NaN     NaN        93.0     5.9
2040           Red   35  Female        94.0     5.9       101.0     5.9
2041           Red   78  Female        93.0     6.2        80.0     6.1
2043           Red   44  Female       101.0     6.0       100.0     6.0
2045           Red   41    Male        99.0     6.1        94.0     6.0
2047           Red   39    Male        98.0     6.4       109.0     6.4
2048           Red   43  Female        89.0     5.9        82.0     5.4
2049           Red   30  Female        89.0     6.1        84.0     5.9
2053           Red   30    Male        90.0     5.7         NaN     NaN
2054           Red   29  Female        81.0     5.7        71.0     5.5
2057           Red   40    Male       102.0     6.0        94.0     5.7
2058           Red   36  Female        97.0     5.0        93.0     5.5
2059           Red   38    Male        88.0     5.6        87.0     5.6
2060           Red   42    Male        95.0     6.0        98.0     5.7
2066           Red   50  Female        92.0     5.9        88.0     5.6
2070           Red   53  Female       106.0     6.2       104.0     6.0
2071           Red   49    Male       103.0     6.6       102.0     6.4
2078           Red   58  Female        82.0     6.2        95.0     6.1
2080           Red   41  Female        89.0     5.6        92.0     5.7
2081           Red   30    Male        98.0     5.9       100.0     5.7
2083           Red   52    Male       103.0     6.1        95.0     5.8
2085           Red   39  Female        86.0     5.7        77.0     5.7

In [14]:
anthro=anthropometrics[['CorrectedDate','StudyGroup']].copy()
anthro

        CorrectedDate StudyGroup
studyID
2001       2014-11-17       Blue
2001       2015-03-03       Blue
2001       2015-06-02       Blue
2003       2014-11-22       Blue
2003       2015-03-30       Blue
2003       2015-07-22       Blue
2007       2015-01-07       Blue
2007              NaN       Blue
2007       2015-06-09       Blue
2008       2015-01-20       Blue
2008       2015-05-06       Blue
2008       2015-08-04       Blue
2009       2015-01-10       Blue
2009              NaN       Blue
2009              NaN       Blue
2014       2015-02-14       Blue
2014       2015-07-25       Blue
2014       2015-10-12       Blue
2017       2015-03-30       Blue
2017       2015-07-21       Blue
2017       2015-10-22       Blue
2020       2015-04-03       Blue
2020       2015-07-30       Blue
2020       2015-11-04       Blue
2021       2015-04-08       Blue
2021       2015-08-03       Blue
2021       2015-11-09       Blue
2024       2015-04-14       Blue
2024       2015-08-25       Blue
2024       2015-11-03       Blue
...               ...        ...
2059       2015-08-10        Red
2059       2016-01-28        Red
2059       2016-05-10        Red
2060       2015-08-11        Red
2060       2015-12-10        Red
2060       2016-03-02        Red
2066       2015-10-02        Red
2066       2016-02-08        Red
2066       2016-07-07        Red
2070       2015-11-04        Red
2070       2016-02-29        Red
2070       2016-06-24        Red
2071       2015-11-10        Red
2071       2016-03-23        Red
2071       2016-06-21        Red
2078       2015-12-01        Red
2078       2016-03-21        Red
2078       2016-06-23        Red
2080       2015-12-09        Red
2080       2016-04-07        Red
2080       2016-07-07        Red
2081       2015-12-10        Red
2081       2016-04-05        Red
2081       2016-07-05        Red
2083       2015-12-22        Red
2083       2016-04-26        Red
2083       2016-07-22        Red
2085       2016-01-08        Red
2085       2016-04-08        Red
2085       2016-07-29        Red

[201 rows x 2 columns]

In [26]:
step_count.to_csv('step_count_new.csv')

In [35]:
import pandas as pd
step_count = pd.read_csv('step_count_new.csv')

anthro=pd.read_csv('anthro.csv')
anthro.loc[1,:]
pd.set_option('display.max_rows',500)

mapping = dict(anthro[['studyID','StudyGroup']].values) #separate step
step_count['StudyGroup']= step_count.studyID.replace(mapping)

#step_count = step_count_new.drop("Unnamed: 0", axis=1)

step_count

       studyID   Steps      Date  Weight    BMI StudyGroup
0         2001   9,865   7/23/15  225.00  32.18       Blue
1         2001   6,695   7/24/15  225.00  32.18       Blue
2         2001   5,311   7/25/15  225.00  32.18       Blue
3         2001   2,176   7/26/15  225.00  32.18       Blue
4         2001  16,141   7/27/15  225.00  32.18       Blue
5         2001  17,842   7/28/15  225.00  32.18       Blue
6         2001   4,471   7/29/15  225.00  32.18       Blue
7         2001   3,482   7/30/15  225.00  32.18       Blue
8         2001  23,967   7/31/15  225.00  32.18       Blue
9         2001   1,224    8/1/15  225.00  32.18       Blue
10        2001   4,832    8/2/15  225.00  32.18       Blue
11        2001       0    8/3/15  225.00  32.18       Blue
12        2001   2,713    8/4/15  225.00  32.18       Blue
13        2001  16,479    8/5/15  225.00  32.18       Blue
14        2001   1,507    8/6/15  225.00  32.18       Blue
15        2001   7,928    8/7/15  225.00  32.18       Blue
16        2001       7    8/8/15  225.00  32.18       Blue
17        2001   3,603    8/9/15  225.00  32.18       Blue
18        2001   1,188   8/10/15  225.00  32.18       Blue
19        2001  17,616   8/11/15  225.00  32.18       Blue
20        2001   3,124   8/12/15  225.00  32.18       Blue
21        2001   4,726   8/13/15  225.00  32.18       Blue
22        2001   3,743   8/14/15  225.00  32.18       Blue
23        2001       0   8/15/15  225.00  32.18       Blue
24        2001   6,543   8/16/15  225.00  32.18       Blue
25        2001   1,611   8/17/15  225.00  32.18       Blue
26        2001      18   8/18/15  225.00  32.18       Blue
27        2001   1,067   8/19/15  225.00  32.18       Blue
28        2001  11,010   8/20/15  225.00  32.18       Blue
29        2001  10,661   8/21/15  225.00  32.18       Blue
30        2001       0   8/22/15  225.00  32.18       Blue
31        2001  15,044   1/18/15  226.86  32.44       Blue
32        2001  13,269   1/19/15  226.30  32.36       Blue
33        2001  10,959   1/20/15  226.30  32.36       Blue
34        2001   5,712   1/21/15  226.30  32.36       Blue
35        2001   7,942   1/22/15  226.80  32.43       Blue
36        2001  12,925   1/23/15  227.30  32.50       Blue
37        2001  17,218   1/24/15  226.96  32.46       Blue
38        2001  13,028   1/25/15  226.63  32.41       Blue
39        2001  10,817   1/26/15  226.30  32.36       Blue
40        2001  13,461   1/27/15  225.70  32.28       Blue
41        2001  13,402   1/28/15  225.10  32.19       Blue
42        2001  10,604   1/29/15  224.85  32.15       Blue
43        2001  16,043   1/30/15  224.60  32.12       Blue
44        2001  38,570   1/31/15  224.26  32.07       Blue
45        2001  19,356    2/1/15  223.93  32.02       Blue
46        2001  18,111    2/2/15  223.60  31.98       Blue
47        2001  17,415    2/3/15  224.50  32.10       Blue
48        2001  10,783    2/4/15  223.86  32.01       Blue
49        2001   9,593    2/5/15  223.23  31.92       Blue
50        2001   6,434    2/6/15  222.60  31.83       Blue
51        2001   8,598    2/7/15  223.23  31.92       Blue
52        2001   2,034    2/8/15  223.86  32.01       Blue
53        2001   9,493    2/9/15  224.50  32.10       Blue
54        2001   7,968   2/10/15  224.40  32.09       Blue
55        2001  15,128   2/11/15  224.30  32.08       Blue
56        2001  11,542   2/12/15  224.20  32.06       Blue
57        2001   7,245   2/13/15  224.10  32.05       Blue
58        2001   9,342   2/14/15  223.74  32.00       Blue
59        2001  11,042   2/15/15  223.38  31.94       Blue
60        2001  16,942   2/16/15  223.02  31.89       Blue
61        2001  11,917   2/17/15  222.66  31.84       Blue
62        2001  14,350   2/18/15  222.82  31.86       Blue
63        2001   9,041   2/19/15  222.56  31.83       Blue
64        2001   3,400   2/20/15  222.30  31.79       Blue
65        2001   9,911   2/21/15  222.53  31.82       Blue
66        2001   7,826   2/22/15  222.76  31.86       Blue
67        2001  10,259   2/23/15  223.00  31.89       Blue
68        2001  10,137   2/24/15  222.85  31.87       Blue
69        2001   1,785   2/25/15  222.70  31.85       Blue
70        2001  11,674   2/26/15  222.55  31.83       Blue
71        2001  11,967   2/27/15  222.40  31.80       Blue
72        2001     617   2/28/15  222.60  31.83       Blue
73        2001      26    3/1/15  222.80  31.86       Blue
74        2001  11,490    3/2/15  223.00  31.89       Blue
75        2001  10,600    3/3/15  222.62  31.84       Blue
76        2001   7,641    3/4/15  222.25  31.78       Blue
77        2001  12,346    3/5/15  221.87  31.73       Blue
78        2001  14,000    3/6/15  221.50  31.67       Blue
79        2001   8,353    3/7/15  221.33  31.65       Blue
80        2001   8,899    3/8/15  221.16  31.63       Blue
81        2001   3,522    3/9/15  221.00  31.60       Blue
82        2001   4,364   3/10/15  220.75  31.57       Blue
83        2001  11,647   3/11/15  220.50  31.53       Blue
84        2001   9,159   3/12/15  220.50  31.53       Blue
85        2001   8,771   3/13/15  220.50  31.53       Blue
86        2001  10,593   3/14/15  220.50  31.53       Blue
87        2001  11,910   3/15/15  220.50  31.53       Blue
88        2001   2,919   3/16/15  220.50  31.53       Blue
89        2001   2,766   3/17/15  220.02  31.46       Blue
90        2001  12,985   3/18/15  219.55  31.40       Blue
91        2001  13,285   3/19/15  219.07  31.33       Blue
92        2001  14,148   3/20/15  218.60  31.26       Blue
93        2001   2,931  11/17/14  253.40  36.24       Blue
94        2001   2,264  11/18/14  253.55  36.26       Blue
95        2001   5,347  11/19/14  253.71  36.28       Blue
96        2001   5,924  11/20/14  253.87  36.30       Blue
97        2001   6,961  11/21/14  254.02  36.33       Blue
98        2001  10,359  11/22/14  254.18  36.35       Blue
99        2001   7,234  11/23/14  254.34  36.37       Blue
100       2001   1,760  11/24/14  254.49  36.39       Blue
101       2001   6,920  11/25/14  254.65  36.42       Blue
102       2001   4,786  11/26/14  254.81  36.44       Blue
103       2001   6,071  11/27/14  254.96  36.46       Blue
104       2001   7,517  11/28/14  255.12  36.48       Blue
105       2001   6,586  11/29/14  255.27  36.51       Blue
106       2001   4,956  11/30/14  255.43  36.53       Blue
107       2001   7,573   12/1/14  255.60  36.55       Blue
108       2001   7,548   12/2/14  253.20  36.21       Blue
109       2001   7,166   12/3/14  250.80  35.87       Blue
110       2001   6,441   12/4/14  248.40  35.52       Blue
111       2001   8,710   12/5/14  246.00  35.18       Blue
112       2001   7,125   12/6/14  245.73  35.14       Blue
113       2001   7,405   12/7/14  245.46  35.10       Blue
114       2001   9,466   12/8/14  245.20  35.06       Blue
115       2001   8,691   12/9/14  245.07  35.05       Blue
116       2001   8,567  12/10/14  244.95  35.03       Blue
117       2001   6,569  12/11/14  244.82  35.01       Blue
118       2001  14,760  12/12/14  244.70  34.99       Blue
119       2001   6,088  12/13/14  244.46  34.96       Blue
120       2001  15,749  12/14/14  244.23  34.93       Blue
121       2001   8,690  12/15/14  244.00  34.89       Blue
122       2001  10,434  12/16/14  242.93  34.74       Blue
123       2001  11,279  12/17/14  241.87  34.59       Blue
124       2001   1,347   6/22/15  225.00  32.18       Blue
125       2001   6,678   6/23/15  225.00  32.18       Blue
126       2001   9,764   6/24/15  225.00  32.18       Blue
127       2001  12,892   6/25/15  225.00  32.18       Blue
128       2001   9,950   6/26/15  225.00  32.18       Blue
129       2001   1,374   6/27/15  225.00  32.18       Blue
130       2001   8,798   6/28/15  225.00  32.18       Blue
131       2001  13,438   6/29/15  225.00  32.18       Blue
132       2001   4,380   6/30/15  225.00  32.18       Blue
133       2001  19,373    7/1/15  225.00  32.18       Blue
134       2001  19,606    7/2/15  225.00  32.18       Blue
135       2001   3,424    7/3/15  225.00  32.18       Blue
136       2001   1,516    7/4/15  225.00  32.18       Blue
137       2001   4,841    7/5/15  225.00  32.18       Blue
138       2001  18,247    7/6/15  225.00  32.18       Blue
139       2001   6,563    7/7/15  225.00  32.18       Blue
140       2001   8,717    7/8/15  225.00  32.18       Blue
141       2001   9,051    7/9/15  225.00  32.18       Blue
142       2001  14,775   7/10/15  225.00  32.18       Blue
143       2001   1,277   7/11/15  225.00  32.18       Blue
144       2001     976   7/12/15  225.00  32.18       Blue
145       2001  17,642   7/13/15  225.00  32.18       Blue
146       2001   4,130   7/14/15  225.00  32.18       Blue
147       2001   7,629   7/15/15  225.00  32.18       Blue
148       2001   8,547   7/16/15  225.00  32.18       Blue
149       2001   9,256   7/17/15  225.00  32.18       Blue
150       2001       0   7/18/15  225.00  32.18       Blue
151       2001     159   7/19/15  225.00  32.18       Blue
152       2001  10,507   7/20/15  225.00  32.18       Blue
153       2001   8,503   7/21/15  225.00  32.18       Blue
154       2001  10,119   7/22/15  225.00  32.18       Blue
155       2001   3,070   4/21/15  221.28  31.64       Blue
156       2001  17,456   4/22/15  221.56  31.68       Blue
157       2001  13,804   4/23/15  221.85  31.73       Blue
158       2001  14,334   4/24/15  222.13  31.77       Blue
159       2001   1,996   4/25/15  222.42  31.81       Blue
160       2001  17,909   4/26/15  222.70  31.85       Blue
161       2001   5,889   4/27/15  222.99  31.89       Blue
162       2001  14,700   4/28/15  223.27  31.93       Blue
163       2001   9,389   4/29/15  223.55  31.97       Blue
164       2001  10,335   4/30/15  223.84  32.01       Blue
165       2001   9,367    5/1/15  224.12  32.05       Blue
166       2001   2,650    5/2/15  224.41  32.09       Blue
167       2001   4,860    5/3/15  224.69  32.13       Blue
168       2001  19,991    5/4/15  225.00  32.18       Blue
169       2001   9,838    5/5/15  225.40  32.23       Blue
170       2001  13,131    5/6/15  225.79  32.29       Blue
171       2001  10,642    5/7/15  226.19  32.35       Blue
172       2001  11,559    5/8/15  226.60  32.40       Blue
173       2001  21,903    5/9/15  225.20  32.20       Blue
174       2001   2,977   5/10/15  223.80  32.00       Blue
175       2001  12,759   5/11/15  222.40  31.80       Blue
176       2001   9,043   5/12/15  222.16  31.77       Blue
177       2001   8,718   5/13/15  221.92  31.74       Blue
178       2001   4,317   5/14/15  221.68  31.70       Blue
179       2001  12,114   5/15/15  221.44  31.67       Blue
180       2001   6,744   5/16/15  221.20  31.63       Blue
181       2001   8,115   5/17/15  222.60  31.83       Blue
182       2001   2,031   5/18/15  224.00  32.03       Blue
183       2001   3,067   5/19/15  224.00  32.03       Blue
184       2001   9,296   5/20/15  224.00  32.03       Blue
185       2001   7,940   5/21/15  224.00  32.03       Blue
186       2001  12,683  12/18/14  241.60  34.55       Blue
187       2001  13,923  12/19/14  240.80  34.43       Blue
188       2001   5,752  12/20/14  239.40  34.23       Blue
189       2001  11,188  12/21/14  238.00  34.03       Blue
190       2001  17,180  12/22/14  238.00  34.03       Blue
191       2001  19,926  12/23/14  235.40  33.66       Blue
192       2001  19,256  12/24/14  235.40  33.66       Blue
193       2001  13,760  12/25/14  237.40  33.95       Blue
194       2001  12,754  12/26/14  237.00  33.89       Blue
195       2001   9,861  12/27/14  236.80  33.86       Blue
196       2001   1,382  12/28/14  237.40  33.95       Blue
197       2001  12,082  12/29/14  236.80  33.86       Blue
198       2001  13,111  12/30/14  235.20  33.63       Blue
199       2001  12,037  12/31/14  233.60  33.41       Blue
200       2001   9,288    1/1/15  232.60  33.26       Blue
201       2001  12,974    1/2/15  231.00  33.03       Blue
202       2001  16,287    1/3/15  230.80  33.00       Blue
203       2001   6,270    1/4/15  230.60  32.98       Blue
204       2001  16,049    1/5/15  230.40  32.95       Blue
205       2001  14,992    1/6/15  230.25  32.93       Blue
206       2001  12,672    1/7/15  230.10  32.90       Blue
207       2001  14,565    1/8/15  229.95  32.88       Blue
208       2001  13,129    1/9/15  229.80  32.86       Blue
209       2001   7,750   1/10/15  229.93  32.88       Blue
210       2001  12,123   1/11/15  230.06  32.90       Blue
211       2001  10,584   1/12/15  230.20  32.92       Blue
212       2001  12,570   1/13/15  229.65  32.84       Blue
213       2001  13,053   1/14/15  229.10  32.76       Blue
214       2001  13,259   1/15/15  228.55  32.68       Blue
215       2001   8,780   1/16/15  228.00  32.60       Blue
216       2001  11,958   1/17/15  227.15  32.48       Blue
217       2001   4,380  10/24/15  225.00  32.18       Blue
218       2001   2,326  10/25/15  225.00  32.18       Blue
219       2001       0  10/26/15  225.00  32.18       Blue
220       2001   2,474  10/27/15  225.00  32.18       Blue
221       2001       0  10/28/15  225.00  32.18       Blue
222       2001   4,313  10/29/15  225.00  32.18       Blue
223       2001   1,669  10/30/15  225.00  32.18       Blue
224       2001       0  10/31/15  225.00  32.18       Blue
225       2001   1,143   11/1/15  225.00  32.18       Blue
226       2001     844   11/2/15  225.00  32.18       Blue
227       2001       0   11/3/15  225.00  32.18       Blue
228       2001     389   11/4/15  225.00  32.18       Blue
229       2001   1,149   11/5/15  225.00  32.18       Blue
230       2001       0   11/6/15  225.00  32.18       Blue
231       2001   7,908   11/7/15  225.00  32.18       Blue
232       2001     942   11/8/15  225.00  32.18       Blue
233       2001   2,545   11/9/15  225.00  32.18       Blue
234       2001   1,218  11/10/15  225.00  32.18       Blue
235       2001   8,996  11/11/15  225.00  32.18       Blue
236       2001     252  11/12/15  225.00  32.18       Blue
237       2001   1,131  11/13/15  225.00  32.18       Blue
238       2001   2,908  11/14/15  225.00  32.18       Blue
239       2001   1,991  11/15/15  225.00  32.18       Blue
240       2001   3,156  11/16/15  225.00  32.18       Blue
241       2001   3,346  11/17/15  225.00  32.18       Blue
242       2001       0  11/18/15  225.00  32.18       Blue
243       2001       0  11/19/15  225.00  32.18       Blue
244       2001       0  11/20/15  225.00  32.18       Blue
245       2001       0  11/21/15  225.00  32.18       Blue
246       2001       0  11/22/15  225.00  32.18       Blue
247       2001       0  11/23/15  225.00  32.18       Blue
248       2001   6,200   9/23/15  225.00  32.18       Blue
249       2001     778   9/24/15  225.00  32.18       Blue
...        ...     ...       ...     ...    ...        ...
24921     2085       0   2/12/17  147.37  24.52        Red
24922     2085       0   2/13/17  147.40  24.53        Red
24923     2085  15,143   5/11/16  149.24  24.84        Red
24924     2085  10,843   5/12/16  149.42  24.86        Red
24925     2085  16,856   5/13/16  149.60  24.89        Red
24926     2085   2,815   5/14/16  149.60  24.89        Red
24927     2085  19,190   5/15/16  149.60  24.89        Red
24928     2085  15,351   5/16/16  149.60  24.89        Red
24929     2085  11,497   5/17/16  149.50  24.88        Red
24930     2085  15,094   5/18/16  149.40  24.86        Red
24931     2085  15,118   5/19/16  149.30  24.85        Red
24932     2085   7,195   5/20/16  149.20  24.83        Red
24933     2085  10,605   5/21/16  149.20  24.83        Red
24934     2085  20,726   5/22/16  149.79  24.93        Red
24935     2085  14,285   5/23/16  150.40  25.03        Red
24936     2085  14,581   5/24/16  150.05  24.97        Red
24937     2085  11,511   5/25/16  149.70  24.91        Red
24938     2085  15,006   5/26/16  149.35  24.85        Red
24939     2085  18,282   5/27/16  149.00  24.79        Red
24940     2085   5,156   5/28/16  149.00  24.79        Red
24941     2085  12,617   5/29/16  149.00  24.79        Red
24942     2085   9,951   5/30/16  149.00  24.79        Red
24943     2085  15,385   5/31/16  148.60  24.73        Red
24944     2085  16,597    6/1/16  148.20  24.66        Red
24945     2085  14,444    6/2/16  147.80  24.60        Red
24946     2085  15,644    6/3/16  147.40  24.53        Red
24947     2085   9,183    6/4/16  147.16  24.49        Red
24948     2085   9,385    6/5/16  146.93  24.45        Red
24949     2085  15,724    6/6/16  146.70  24.41        Red
24950     2085  11,708    6/7/16  146.95  24.45        Red
24951     2085  15,786    6/8/16  147.20  24.50        Red
24952     2085  11,193    6/9/16  147.44  24.54        Red
24953     2085  18,384   6/10/16  147.70  24.58        Red
24954     2085   7,663   8/12/16  146.10  24.31        Red
24955     2085   9,384   8/13/16  146.10  24.31        Red
24956     2085   5,372   8/14/16  146.10  24.31        Red
24957     2085  14,808   8/15/16  146.10  24.31        Red
24958     2085  15,205   8/16/16  146.03  24.30        Red
24959     2085  23,088   8/17/16  145.96  24.29        Red
24960     2085  19,370   8/18/16  145.90  24.28        Red
24961     2085  13,176   8/19/16  147.00  24.46        Red
24962     2085   5,560   8/20/16  146.76  24.42        Red
24963     2085  12,103   8/21/16  146.53  24.38        Red
24964     2085  16,724   8/22/16  146.30  24.35        Red
24965     2085  12,966   8/23/16  145.85  24.27        Red
24966     2085  10,950   8/24/16  145.40  24.20        Red
24967     2085  17,074   8/25/16  144.95  24.12        Red
24968     2085   9,057   8/26/16  144.50  24.05        Red
24969     2085   9,273   8/27/16  144.86  24.11        Red
24970     2085   5,694   8/28/16  145.23  24.17        Red
24971     2085  18,153   8/29/16  145.60  24.23        Red
24972     2085  10,290   8/30/16  145.20  24.16        Red
24973     2085  15,226   8/31/16  144.80  24.10        Red
24974     2085  16,646    9/1/16  144.40  24.03        Red
24975     2085   3,794    9/2/16  144.00  23.96        Red
24976     2085   8,975    9/3/16  145.07  24.14        Red
24977     2085   6,158    9/4/16  146.14  24.32        Red
24978     2085   1,965    9/5/16  147.22  24.50        Red
24979     2085  16,225    9/6/16  148.30  24.68        Red
24980     2085  15,538    9/7/16  147.80  24.60        Red
24981     2085  11,908    9/8/16  147.30  24.51        Red
24982     2085  16,199    9/9/16  146.80  24.43        Red
24983     2085   4,890   9/10/16  146.60  24.40        Red
24984     2085  16,370   9/11/16  146.40  24.36        Red
24985     2085   7,387   4/10/16  155.73  25.92        Red
24986     2085  12,189   4/11/16  154.70  25.74        Red
24987     2085  15,878   4/12/16  154.30  25.68        Red
24988     2085  14,557   4/13/16  153.90  25.61        Red
24989     2085  17,135   4/14/16  153.50  25.54        Red
24990     2085   9,871   4/15/16  153.10  25.48        Red
24991     2085  14,907   4/16/16  153.30  25.51        Red
24992     2085   5,129   4/17/16  153.50  25.54        Red
24993     2085  12,274   4/18/16  153.70  25.58        Red
24994     2085  15,508   4/19/16  153.30  25.51        Red
24995     2085  15,261   4/20/16  152.90  25.44        Red
24996     2085  14,712   4/21/16  152.50  25.38        Red
24997     2085   9,771   4/22/16  152.10  25.31        Red
24998     2085  12,808   4/23/16  151.76  25.26        Red
24999     2085  10,420   4/24/16  151.43  25.20        Red
25000     2085  13,162   4/25/16  151.10  25.14        Red
25001     2085  13,355   4/26/16  151.44  25.20        Red
25002     2085  14,512   4/27/16  151.79  25.26        Red
25003     2085  14,513   4/28/16  152.14  25.32        Red
25004     2085   6,927   4/29/16  152.50  25.38        Red
25005     2085  11,265   4/30/16  151.90  25.28        Red
25006     2085   6,753    5/1/16  151.30  25.18        Red

In [36]:
step_count.to_csv('step_count_new.csv')